<th scope="col" style="font-size: 12px;">SAP код</th>
<th scope="col" style="font-size: 12px;">Название товаров (40 симвлов)</th>
<th scope="col" style="font-size: 12px;">Полное название товара</th>
<th scope="col" style="font-size: 12px;">Цена материала (СУМ)</th>
<th scope="col" style="font-size: 12px;">Базовая единица измерения</th>
<th scope="col" style="font-size: 12px;">GOODS_GROUP</th>
<th scope="col" style="font-size: 12px;">TEX_NAME</th>
<th scope="col" style="font-size: 12px;">Коеффициент пересчета</th>
<th scope="col" style="font-size: 12px;">Альтернативная единица измерения</th>
<th scope="col" style="font-size: 12px;">ID KLAES</th>
<th scope="col" style="font-size: 12px;">Группма Материалов</th>
<th scope="col" style="font-size: 12px;">Комментария</th>