<th scope="col" style="font-size: 12px;">Группа товар</th>
<th scope="col" style="font-size: 12px;">Категория</th>
<th scope="col" style="font-size: 12px;">Названия материала</th>
<th scope="col" style="font-size: 12px;">БЕИ</th>
<th scope="col" style="font-size: 12px;">АЕИ</th>
<th scope="col" style="font-size: 12px;">Коэффициент пересчета</th>
<th scope="col" style="font-size: 12px;">SAP CODE</th>
<th scope="col" style="font-size: 12px;">Дата добавление цены</th>
<th scope="col" style="font-size: 12px;">Цена с ндс</th>
<th scope="col" style="font-size: 12px;">Цена без ндс</th>
<th scope="col" style="font-size: 12px;">Ед.изм цены</th>
<th scope="col" style="font-size: 12px;">Online savdo ID</th>
<th scope="col" style="font-size: 12px;">Название</th>
<th scope="col" style="font-size: 12px;">Цвет продукта</th>
<th scope="col" style="font-size: 12px;">Группа закупок</th>
<th scope="col" style="font-size: 12px;">Группа</th>
<th scope="col" style="font-size: 12px;">Тип</th>
<th scope="col" style="font-size: 12px;">Сегмент</th>
<th scope="col" style="font-size: 12px;">Базовый единица</th>
<th scope="col" style="font-size: 12px;">Альтер единица</th>
<th scope="col" style="font-size: 12px;">Стмость баз едн</th>
<th scope="col" style="font-size: 12px;">Альтер. стоимость единицы</th>
<th scope="col" style="font-size: 12px;">Статус</th>
<th scope="col" style="font-size: 12px;">Завод</th>
<th scope="col" style="font-size: 12px;">Тип клиента</th>
<th scope="col" style="font-size: 12px;">Комментария</th>