<th scope="col" style="font-size: 12px;">Артикул</th>
<th scope="col" style="font-size: 12px;">Краткий текст</th>
<th scope="col" style="font-size: 12px;">Группма Материалов</th>
<th scope="col" style="font-size: 12px;">БЕИ</th>
<th scope="col" style="font-size: 12px;">АЕИ</th>
<th scope="col" style="font-size: 12px;">Коэффициент пересчета</th>
<th scope="col" style="font-size: 12px;">Склад ГП</th>
<th scope="col" style="font-size: 12px;">Бух цена</th>
<th scope="col" style="font-size: 12px;">Комментария</th>