<th scope="col" style="font-size: 12px;">Дата добавления цены</th>
<th scope="col" style="font-size: 12px;">Цена за БЕИ с ндс</th>
<th scope="col" style="font-size: 12px;">Цена за БЕИ без ндс</th>
<th scope="col" style="font-size: 12px;">Цена за БЕИ с ндс(закупок)</th>
<th scope="col" style="font-size: 12px;">Цена за БЕИ без ндс(закупок)</th>
<th scope="col" style="font-size: 12px;">Online savdo ID</th>
<th scope="col" style="font-size: 12px;">Название</th>
<th scope="col" style="font-size: 12px;">Цвет продукта</th>
<th scope="col" style="font-size: 12px;">Группа закупок</th>
<th scope="col" style="font-size: 12px;">Группа</th>
<th scope="col" style="font-size: 12px;">Тип</th>
<th scope="col" style="font-size: 12px;">Сегмент</th>
<th scope="col" style="font-size: 12px;">Бухгал товары</th>
<th scope="col" style="font-size: 12px;">Бухгалтерская цена</th>
<th scope="col" style="font-size: 12px;">Бухгалтерский учет</th>
<th scope="col" style="font-size: 12px;">Базовый единица</th>
<th scope="col" style="font-size: 12px;">Альтер единица</th>
<th scope="col" style="font-size: 12px;">Стмость баз едн</th>
<th scope="col" style="font-size: 12px;">Альтер. стоимость единицы</th>
<th scope="col" style="font-size: 12px;">Статус</th>
<th scope="col" style="font-size: 12px;">Завод</th>
<th scope="col" style="font-size: 12px;">Тип клиента</th>
<th scope="col" style="font-size: 12px;">Комментария</th>