<th scope="col" style="font-size: 12px;">Бренд</th>
<th scope="col" style="font-size: 12px;">Микрон</th>
<th scope="col" style="font-size: 12px;">Сторонность</th>
<th scope="col" style="font-size: 12px;">Код цвета</th>
<th scope="col" style="font-size: 12px;">Название цвета</th>
<th scope="col" style="font-size: 12px;">Тип панели </th>
<th scope="col" style="font-size: 12px;">Длина (мм)</th>
<th scope="col" style="font-size: 12px;">Ширина</th>
<th scope="col" style="font-size: 12px;">Группа материалов</th>
<th scope="col" style="font-size: 12px;">Краткий текст товара</th>
<th scope="col" style="font-size: 12px;" >SAP Код вручную (вставляется вручную)</th>
<th scope="col" style="font-size: 12px;" >Краткий текст товара (вставляется вручную)</th>
<th scope="col" style="font-size: 12px;">Место для комментариев</th>
<th scope="col" style="font-size: 12px;">Дата добавление цены</th>
<th scope="col" style="font-size: 12px;">Цена с НДС</th>
<th scope="col" style="font-size: 12px;">Цена без НДС</th>
<th scope="col" style="font-size: 12px;">Online savdo ID</th>
<th scope="col" style="font-size: 12px;">Название</th>
<th scope="col" style="font-size: 12px;">Цвет продукта</th>
<th scope="col" style="font-size: 12px;">Группа закупок</th>
<th scope="col" style="font-size: 12px;">Группа</th>

<th scope="col" style="font-size: 12px;">Тип</th>
<th scope="col" style="font-size: 12px;">Сегмент</th>
<th scope="col" style="font-size: 12px;">Бухгал товары</th>
<th scope="col" style="font-size: 12px;">Бухгалтерский учет</th>
<th scope="col" style="font-size: 12px;">Базовый единица</th>
<th scope="col" style="font-size: 12px;">Альтер единица</th>
<th scope="col" style="font-size: 12px;">Статус</th>
<th scope="col" style="font-size: 12px;">Завод</th>
<th scope="col" style="font-size: 12px;">Акфа дилерда очиш керак</th>
<th scope="col" style="font-size: 12px;">Тип клиента</th>