<th scope="col" class="text-center" style="font-size: 12px;" >Длина (мм)</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Тип покрытия</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Сплав</th>
<th scope="col" class="text-center" style="font-size: 12px;" >тип закаленности</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Комбинация</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Бренд краски снаружи</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Код краски снаружи</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Бренд краски внутри</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Код краски внутри</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Код декор пленки снаружи</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Цвет декор пленки снаружи</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Код декор пленки внутри</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Цвет декор пленки внутри</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Цвет лам пленки снаружи</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Код лам пленки снаружи</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Цвет лам пленки внутри</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Код лам пленки внутри</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Код цвета анодировки снаружи</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Код цвета анодировки внутри</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Контактность анодировки</th>
<!-- <th scope="col" class="text-center" style="font-size: 12px;" >Тип анодировки</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Способ анодировки</th> -->
<th scope="col" class="text-center" style="font-size: 12px;" >Код наклейки</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Надпись наклейки</th>
<th scope="col"  style="font-size: 12px;" >База профилей</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Группа материалов</th>
<th scope="col"   style="font-size: 12px;" >Краткий текст товара</th>
<th scope="col" class="text-center" style="font-size: 12px;" >SAP Код вручную (вставляется вручную)</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Краткий текст товара (вставляется вручную)</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Наименование export</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Место для комментариев</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Длина при выходе из пресса</th>