<th scope="col" style="font-size: 12px;">Вид заявки</th>
<th scope="col" style="font-size: 12px;">Балансовая единица</th>
<th scope="col" style="font-size: 12px;">Роль БП</th>
<th scope="col" style="font-size: 12px;">Группировка деловых партнеров</th>
<th scope="col" style="font-size: 12px;">Номер делового партнера</th>
<th scope="col" style="font-size: 12px;">Имя 1 организации</th>
<th scope="col" style="font-size: 12px;">Имя</th>
<th scope="col" style="font-size: 12px;">Фамилия</th>
<th scope="col" style="font-size: 12px;">Улица</th>
<th scope="col" style="font-size: 12px;">Номер дома</th>
<th scope="col" style="font-size: 12px;">Почтовый индекс города</th>
<th scope="col" style="font-size: 12px;">Город</th>
<th scope="col" style="font-size: 12px;">Код страны</th>
<th scope="col" style="font-size: 12px;">Регион</th>
<th scope="col" style="font-size: 12px;">Район</th>
<th scope="col" style="font-size: 12px;">номер телефона: код + номер</th>
<th scope="col" style="font-size: 12px;">номер моб.телефон: код + номер</th>
<th scope="col" style="font-size: 12px;">Налоговый номер к деловому партнеру ИНН</th>
<th scope="col" style="font-size: 12px;">Код плателщика НДС (UZ3)</th>
<th scope="col" style="font-size: 12px;">Налоговый номер к деловому партнерe для иностранных предприятия</th>
<th scope="col" style="font-size: 12px;">ОКЭД</th>
<th scope="col" style="font-size: 12px;">Код по ОКПО</th>
<th scope="col" style="font-size: 12px;">СОАТО</th>
<th scope="col" style="font-size: 12px;">СООГУ</th>
<th scope="col" style="font-size: 12px;">Код страны для банка</th>
<th scope="col" style="font-size: 12px;">Ключ банка (МФО)/SWIFT</th>
<th scope="col" style="font-size: 12px;">Номер банковского счета</th>
<th scope="col" style="font-size: 12px;">Данные по закупкам - Валюта заказа на поставку</th>
<th scope="col" style="font-size: 12px;">Данные по закупкам  - условия платежа</th>
<th scope="col" style="font-size: 12px;">СбытовОрганизац</th>
<th scope="col" style="font-size: 12px;">Канал сбыта</th>
<th scope="col" style="font-size: 12px;">Сектор</th>
<th scope="col" style="font-size: 12px;">Сбыт - Район сбыта</th>
<th scope="col" style="font-size: 12px;">СБЫТ: Группа цен</th>
<th scope="col" style="font-size: 12px;">СБЫТ: Схема клиента</th>
<th scope="col" style="font-size: 12px;">СтатГруппаКлиентов</th>
<th scope="col" style="font-size: 12px;">Условие отгрузки</th>
<th scope="col" style="font-size: 12px;">СБЫТ: Группа контировки дебитора</th>
<th scope="col" style="font-size: 12px;">СБЫТ: Налог. Классификация</th>
<th scope="col" style="font-size: 12px;">Контрольный счет Главной книги Кредитора</th>
<th scope="col" style="font-size: 12px;">Контрольный счет Главной книги Дебитора</th>