<th scope="col" style="font-size: 12px;">Вид заявки</th>
<th scope="col" style="font-size: 12px;">Id savdo</th>
<th scope="col" style="font-size: 12px;">Названия SAVDO</th>
<th scope="col" style="font-size: 12px;">Сапкод</th>
<th scope="col" style="font-size: 12px;">БЕИ</th>
<th scope="col" style="font-size: 12px;">АЕИ</th>
<th scope="col" style="font-size: 12px;">Коэффициент пересчета</th>
<th scope="col" style="font-size: 12px;">Цена с НДС</th>
<th scope="col" style="font-size: 12px;">Цена без НДС</th>
<th scope="col" style="font-size: 12px;">Ед.изм цены</th>
<th scope="col" style="font-size: 12px;">Группа</th>
<th scope="col" style="font-size: 12px;">Группа закуп</th>
<th scope="col" style="font-size: 12px;">Завод</th>
<th scope="col" style="font-size: 12px;">Сегмент</th>
<th scope="col" style="font-size: 12px;">Бухгалтерская названия</th>
<th scope="col" style="font-size: 12px;">Тип клиента</th>
<th scope="col" style="font-size: 12px;">Цвет продукта</th>
<th scope="col" style="font-size: 12px;">Акфа дилерда</th>
<th scope="col" style="font-size: 12px;">Комментария</th>