
<th scope="col" class="text-center align-middle" style="font-size: 12px;">Тип</th>
<th scope="col" class="text-center align-middle"style="font-size: 12px;">Доп.Информация</th>
<th scope="col" class="sticky-th text-center align-middle" style="font-size: 12px;left: 139.6px;">Артикул</th>
<th scope="col" class="text-center align-middle" style="font-size: 12px;">Цвет</th>

<th scope="col" class="text-center align-middle" style="font-size: 12px;">Вес</th>
<th scope="col" class="text-center align-middle" style="font-size: 12px;">Краткий текст</th>
<th scope="col" class="text-center align-middle" style="font-size: 12px;">БЕИ</th>
<th scope="col" class="text-center align-middle" style="font-size: 12px;">АЕИ</th>

<th scope="col" class="text-center align-middle" style="font-size: 12px;">КОЭФ.ПЕРЕСЧЕТА</th>
<th scope="col" class="text-center align-middle" style="font-size: 12px;">Коментарии</th>
<th scope="col"  class="text-center align-middle" style="font-size: 12px;">ONLINE ID</th>
<th scope="col"  class="text-center align-middle" style="font-size: 12px;">Название</th>
<th scope="col"  class="text-center align-middle" style="font-size: 12px;">Цвет продукта</th>
<th scope="col"  class="text-center align-middle" style="font-size: 12px;">Группа закупок</th>
<th scope="col"  class="text-center align-middle" style="font-size: 12px;">Группа</th>
<th scope="col"  class="text-center align-middle" style="font-size: 12px;">Тип</th>
<th scope="col"  class="text-center align-middle" style="font-size: 12px;">Сегмент</th>
<th scope="col"  class="text-center align-middle" style="font-size: 12px;">Бухгалтерский товары</th>
<th scope="col"  class="text-center align-middle" style="font-size: 12px;">Базовый единица</th>
<th scope="col"  class="text-center align-middle" style="font-size: 12px;">Альтернативный единица</th>
<th scope="col"  class="text-center align-middle" style="font-size: 12px;">Стоимость базовой единицы</th>
<th scope="col"  class="text-center align-middle" style="font-size: 12px;">Альтер. стоимость единицы</th>
<th scope="col"  class="text-center align-middle" style="font-size: 12px;">Статус</th>
<th scope="col"  class="text-center align-middle" style="font-size: 12px;">Завод</th>
<th scope="col"  class="text-center align-middle" style="font-size: 12px;">Тип клиента</th>