
<th scope="col" class="text-center align-middle" style="font-size: 12px;">Тип</th>
<th scope="col" class="text-center align-middle"style="font-size: 12px;">Доп.Информация</th>
<th scope="col" class="sticky-th text-center align-middle" style="font-size: 12px;left: 73.5px;">Артикул</th>
<th scope="col" class="text-center align-middle" style="font-size: 12px;">Цвет</th>

<th scope="col" class="text-center align-middle" style="font-size: 12px;">Вес</th>
<th scope="col" class="text-center align-middle" style="font-size: 12px;">Краткий текст</th>
<th scope="col" class="text-center align-middle" style="font-size: 12px;">БЕИ</th>
<th scope="col" class="text-center align-middle" style="font-size: 12px;">АЕИ</th>

<th scope="col" class="text-center align-middle" style="font-size: 12px;">КОЭФ.ПЕРЕСЧЕТА</th>
<th scope="col" class="text-center align-middle" style="font-size: 12px;">Коментарии</th>