
<th scope="col" style="font-size: 12px;">Тип</th>
<th scope="col" style="font-size: 12px;">Доп.Информация</th>
<th scope="col" class="text-center" style="font-size: 12px;">Артикул</th>
<th scope="col" style="font-size: 12px;">Цвет</th>

<th scope="col" style="font-size: 12px;">Вес</th>
<th scope="col" style="font-size: 12px;">Краткий текст</th>
<th scope="col" style="font-size: 12px;">БЕИ</th>
<th scope="col" style="font-size: 12px;">АЕИ</th>

<th scope="col" style="font-size: 12px;">КОЭФ.ПЕРЕСЧЕТА</th>
<th scope="col" style="font-size: 12px;">Коментарии</th>