
<th scope="col" style="font-size: 12px;">Доп.Информация</th>
<th scope="col" class="text-center" style="font-size: 12px;">Краткий текст</th>
<th scope="col" style="font-size: 12px;">Комментарий</th>

<th scope="col" style="font-size: 12px;">Дата добавления цены</th>
<th scope="col" style="font-size: 12px;">Цена с НДС</th>
<th scope="col" style="font-size: 12px;">Цена без НДС</th>
<th scope="col" style="font-size: 12px;">Ед.изм</th>

<th scope="col" style="font-size: 12px;">Online savdo ID</th>
<th scope="col" style="font-size: 12px;">Название</th>
<th scope="col" style="font-size: 12px;">Цвет продукта</th>
<th scope="col" style="font-size: 12px;">Группа закупок</th>
<th scope="col" style="font-size: 12px;">Группа</th>
<th scope="col" style="font-size: 12px;">Тип</th>
<!-- <th scope="col" style="font-size: 12px;">Сегмент</th>
<th scope="col" style="font-size: 12px;">Бухгал товары</th>
<th scope="col" style="font-size: 12px;">Бухгалтерская цена</th>

<th scope="col" style="font-size: 12px;">Бухгалтерский учет</th> -->
<th scope="col" style="font-size: 12px;">Базовый единица</th>
<th scope="col" style="font-size: 12px;">Статус</th>
<th scope="col" style="font-size: 12px;">Завод</th>
<th scope="col" style="font-size: 12px;">Тип клиента</th>