<th scope="col" style="font-size: 12px;">Вид заявки</th>
<th scope="col" style="font-size: 12px;">Завод</th>
<th scope="col" style="font-size: 12px;">SAP код</th>
<th scope="col" style="font-size: 12px;">Название товаров (40 симвлов)</th>
<th scope="col" style="font-size: 12px;">Полное название товара</th>
<th scope="col" style="font-size: 12px;">Цена материала (СУМ)</th>
<th scope="col" style="font-size: 12px;">Базовая единица измерения</th>
<th scope="col" style="font-size: 12px;">Коеффициент пересчета</th>
<th scope="col" style="font-size: 12px;">Альтернативная единица измерения</th>
<th scope="col" style="font-size: 12px;">Вид материала</th>
<th scope="col" style="font-size: 12px;">Вид заготовки</th>
<th scope="col" style="font-size: 12px;">Продается</th>
<th scope="col" style="font-size: 12px;">Группа закупок</th>
<th scope="col" style="font-size: 12px;">Группма Материалов</th>
<th scope="col" style="font-size: 12px;">Комментария</th>