<th scope="col" class="text-center" style="font-size: 12px;">Тип покрытия</th>
<th scope="col" class="text-center" style="font-size: 12px;">Код цвета основы/Замес</th>
<th scope="col" class="text-center" style="font-size: 12px;">Длина (мм)</th>
<th scope="col" class="text-center" style="font-size: 12px;">Цвет лам пленки снаружи</th>
<th scope="col" class="text-center" style="font-size: 12px;">Код лам пленки снаружи</th>
<th scope="col" class="text-center" style="font-size: 12px;">Цвет лам пленки внутри</th>
<th scope="col" class="text-center" style="font-size: 12px;">Код лам пленки внутри</th>
<th scope="col" class="text-center" style="font-size: 12px;">Код цвет резины</th>
<th scope="col" class="text-center" style="font-size: 12px;">Цвет резины</th>
<th scope="col" class="text-center" style="font-size: 12px;">Код наклейки</th>
<th scope="col" class="text-center" style="font-size: 12px;">Надпись наклейки</th>
<th scope="col" class="text-center" style="font-size: 12px;">Группа материалов</th>
<th scope="col" class="text-center" style="font-size: 12px;">Краткий текст товара</th>
<th scope="col" class="text-center" style="font-size: 12px;" >SAP Код вручную (вставляется вручную)</th>
<th scope="col" class="text-center" style="font-size: 12px;" >Краткий текст товара (вставляется вручную)</th>
<th scope="col" class="text-center" style="font-size: 12px;">Место для комментариев</th>
<th scope="col" class="text-center" style="font-size: 12px;">Общий вес (КГ) за штуку</th>
<th scope="col" class="text-center" style="font-size: 12px;">Дата добавление цены</th>
<th scope="col" class="text-center" style="font-size: 12px;">Цена с НДС</th>
<th scope="col" class="text-center" style="font-size: 12px;">Цена без НДС</th>

<th scope="col" class="text-center" style="font-size: 12px;">Online savdo ID</th>
<th scope="col" class="text-center" style="font-size: 12px;">Название</th>
<th scope="col" class="text-center" style="font-size: 12px;">Цвет продукта</th>
<th scope="col" class="text-center" style="font-size: 12px;">Группа закупок</th>
<th scope="col" class="text-center" style="font-size: 12px;">Группа</th>
<th scope="col" class="text-center" style="font-size: 12px;">Тип</th>
<th scope="col" class="text-center" style="font-size: 12px;">Сегмент</th>
<th scope="col" class="text-center" style="font-size: 12px;">Бухгал товары</th>
<th scope="col" class="text-center" style="font-size: 12px;">Бухгалтерский учет</th>
<th scope="col" class="text-center" style="font-size: 12px;">Базовый единица</th>
<th scope="col" class="text-center" style="font-size: 12px;">Альтер единица</th>
<th scope="col" class="text-center" style="font-size: 12px;">Стмость баз едн</th>
<th scope="col" class="text-center" style="font-size: 12px;">Альтер. стоимость единицы</th>
<th scope="col" class="text-center" style="font-size: 12px;">Статус</th>
<th scope="col" class="text-center" style="font-size: 12px;">Завод</th>
<th scope="col" class="text-center" style="font-size: 12px;">Акфа дилерда очиш керак</th>
<th scope="col" class="text-center" style="font-size: 12px;">Тип клиента</th>