{% extends 'client/base.html'%}
{%load static%}
{%block content%}

         


            <section class="topics-detail-section section-padding" id="topics-detail">
                <form method="POST" id="basic_form" onsubmit="return validateForm()">
                    {%csrf_token%}
                <div class="" style="overflow: scroll;">
                        <table class="table table-sm" >
                            <thead>
                                {% csrf_token %}
                            <tr>
                                <th scope="col" style="font-size: 14px;">Действие</th>
                                <th scope="col" style="font-size: 14px;" >Название системы</th>
                                <th scope="col" style="font-size: 14px;" >Артикул</th>
                                <th scope="col" style="font-size: 14px;" >Длина (мм)</th>
                                <th scope="col" style="font-size: 14px;" >Тип покрытия</th>
                                <th scope="col" style="font-size: 14px;" >Сплав</th>
                                <th scope="col" style="font-size: 14px;" >тип закаленности</th>
                                <th scope="col" style="font-size: 14px;" >Комбинация</th>
                                <th scope="col" style="font-size: 14px;" >Бренд краски снаружи</th>
                                <th scope="col" style="font-size: 14px;" >Код краски снаружи</th>
                                <th scope="col" style="font-size: 14px;" >Бренд краски внутри</th>
                                <th scope="col" style="font-size: 14px;" >Код краски внутри</th>
                                <th scope="col" style="font-size: 14px;" >Код декор пленки снаружи</th>
                                <th scope="col" style="font-size: 14px;" >Цвет декор пленки снаружи</th>
                                <th scope="col" style="font-size: 14px;" >Код декор пленки внутри</th>
                                <th scope="col" style="font-size: 14px;" >Цвет декор пленки внутри</th>
                                <th scope="col" style="font-size: 14px;" >Цвет лам пленки снаружи</th>
                                <th scope="col" style="font-size: 14px;" >Код лам пленки снаружи</th>
                                <th scope="col" style="font-size: 14px;" >Цвет лам пленки внутри</th>
                                <th scope="col" style="font-size: 14px;" >Код лам пленки внутри</th>
                                <th scope="col" style="font-size: 14px;" >Код цвета анодировки снаружи</th>
                                <th scope="col" style="font-size: 14px;" >Код цвета анодировки внутри</th>
                                <th scope="col" style="font-size: 14px;" >Контактность анодировки</th>
                                <th scope="col" style="font-size: 14px;" >Тип анодировки</th>
                                <th scope="col" style="font-size: 14px;" >Способ анодировки</th>
                                <th scope="col" style="font-size: 14px;" >Код наклейки</th>
                                <th scope="col" style="font-size: 14px;" >Надпись наклейки</th>
                                <th scope="col" style="font-size: 14px;" >База профилей</th>
                                <th scope="col" style="font-size: 14px;" >GOODS_GROUP</th>
                                <th scope="col" style="font-size: 14px;" >Tex_name</th>
                                <th scope="col" style="font-size: 14px;" >Группа материалов</th>
                                <th scope="col" style="font-size: 14px;" >Краткий текст товара</th>
                                <th scope="col" style="font-size: 14px;" >SAP Код вручную (вставляется вручную)</th>
                                <th scope="col" style="font-size: 14px;" >Краткий текст товара (вставляется вручную)</th>
                                <th scope="col" style="font-size: 14px;" >KLAES ID</th>
                                <th scope="col" style="font-size: 14px;" >KLAES название</th>
                                <th scope="col" style="font-size: 14px;" >Код Цвета</th>
                                <th scope="col" style="font-size: 14px;" >Краткий код Klaes</th>
                                <th scope="col" style="font-size: 14px;" >Место для комментариев</th>
                            </tr>
                            </thead>
                            <tbody id="table-artikul">
                                {%for item in items.data%}
                                    <tr id='table_tr` +String(i)+`' >
                                
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                            <div>
                                                <button type="button" class="btn btn-warning" onclick="artukil_clear(`+String(i)+`)" style="font-size: 12px;">Очистить</button>     
                                            </div>
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                            <div><span class ='nazvaniye_system` +String(i)+`'style="text-transform: uppercase;" style="font-size: 12px;"></span></div>
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                            <select class=" form-control" style="background-color:#ddebf7; width: 140px; font-size:10px" id="artikul`+String(i)+`"  onchange='clear_artikul(`+String(i)+`)'></select>
                                        </div>
                                    </td>
                                    
                                    
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                            <input type="text" class="form-control "  style='width:50px' onkeyup='create_kratkiy_tekst(`+String(i)+`)' disabled aria-describedby="inputGroup-sizing-sm" name ='length`+String(i)+`' id="length`+String(i)+`"  >
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                            <select class="form-select" aria-label="" style="width: 165px;text-transform: uppercase; font-size:12px; padding-right:0px;" onchange="tip_pokritiya_selected(`+String(i)+`,this.value)" disabled id='tip_pokritiya`+String(i)+`' required>
                                                <option  selected></option>
                                                <option value="1" >Неокрашенный</option>
                                                <option value="2">Белый</option>
                                                <option value="3">Окрашенный</option>
                                                <option value="4">Ламинированный</option>
                                                <option value="5">Сублимированный</option>
                                                <option value="6">Анодированный</option>
                                              </select>
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1" style="width: 60px;">
                                       
                                        <select class="form-select" aria-label="" style="width: 50px;"  disabled id='splav`+String(i)+`' onchange="create_kratkiy_tekst(`+String(i)+`)">
                                            
                                            <option value="63" selected  >63</option>
                                        </select>
                                        
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1"  style="width: 60px;">
                                        <select class="form-select" aria-label="" style="width: 50px;!important"  disabled id='tip_zakalyonnosti`+String(i)+`'  onchange="create_kratkiy_tekst(`+String(i)+`)">
                                            <option value="T6" selected >T6</option>
                                        </select>
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1" style="font-size: small; text-transform: uppercase; width:130px">
                                            <div>
                                                <span class =' text-center pl-1' style="font-size: small; text-transform: uppercase;" id ='combination` +String(i)+`'></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1" >
                                        <div>
                                            <span class =' text-center' style="font-size: small;font-weight: bold; text-transform: uppercase;" id ='brand_kraski_snaruji` +String(i)+`'></span>
                                        </div>
                                        </div>
                                    </td>
                                    
                                    <td >
                                        <div class="input-group input-group-sm mb-1" style="width: 100px;">
                                        <div>
                                            <span class =' text-center' style="font-size: small; font-weight: bold; text-transform: uppercase;width: 100px;" id ='code_kraski_snaruji` +String(i)+`'></span>
                                        </div>
                                        </div>
                                    </td>
                                    
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                        <div>
                                            <span class =' text-center' style="font-size: small;font-weight: bold; text-transform: uppercase;" id ='brand_kraski_vnutri` +String(i)+`'></span>
                                        </div>
                                        </div>
                                    </td>
                                    
                                    <td >
                                        <div class="input-group input-group-sm mb-1" style="width: 100px;">
                                        <div>
                                            <span class =' text-center' style="font-size: small; font-weight: bold; text-transform: uppercase; width:100px" id ='code_kraski_vnutri` +String(i)+`' ></span>
                                        </div>
                                        </div>
                                    </td>
                                    
                                    <td >
                                        <div class="input-group input-group-sm mb-1">    
                                        <select class="form-select" aria-label="" style="width: 75px;" onchange="svet_dekplonka_snaruji_selected(`+String(i)+`,this.value)"  id='svet_dekplonka_snaruji`+String(i)+`' disabled>
                                            <option  value="" selected></option>
                                            <option value="Золотой Дуб 7777" >7777</option>
                                            <option value="Махагон 3701">3701</option>
                                            <option value="3D 3702">3702</option>
                                            <option value="Дуб мокко">8888</option>
                                            <option value="Шеф. сер. дуб">9999</option>
                                            <option value="XXXX">XXXX</option>
                                        </select>
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                            <div>
                                                <em><span class =' text-center ' style="font-size: 10px;  font-weight: bold; text-transform: uppercase;" id ='code_dekplonka_snaruji` +String(i)+`' disabled ></span></em>
                                            </div>
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1"  >    
                                        <select class="form-select" aria-label="" style="width: 75px;" onchange="svet_dekplonka_vnutri_selected(`+String(i)+`,this.value)"  id='svet_dekplonka_vnutri`+String(i)+`' disabled>
                                            <option  value="" selected></option>
                                            <option value="Золотой Дуб 7777" >7777</option>
                                            <option value="Махагон 3701">3701</option>
                                            <option value="3D 3702">3702</option>
                                            <option value="Дуб мокко">8888</option>
                                            <option value="Шеф. сер. дуб">9999</option>
                                            <option value="XXXX">XXXX</option>
                                        </select>
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                            <div>
                                            <em><span class =' text-center ' style="font-size: 10px; font-weight: bold; text-transform: uppercase;" id ='code_dekplonka_vnutri` +String(i)+`' disabled></span></em>
                                            </div>
                                        </div>
                                    </td>
                                
                                    
                                
                                    <td >
                                        <div class="input-group input-group-sm mb-1">    
                                        <select class="form-select" aria-label="" style="width: 220px;" onchange="svet_lamplonka_snaruji_selected(`+String(i)+`,this.value)" disabled id='svet_lamplonka_snaruji`+String(i)+`'>
                                            <option  value="" selected></option>
                                            <option value="2036" >Золотой дуб</option>
                                            <option value="2048">Дуб мокко</option>
                                            <option value="2007">Красный орех</option>
                                            <option value="2012">Орех</option>
                                            <option value="3086">Шеффелдский дуб серый</option>
                                            <option value="1012">Алюкс антрацит</option>
                                            <option value="3001">Терновый дуб</option>
                                            <option value="3002">Шеф Альпийский дуб</option>
                                            <option value="3003">Гранитовый шеф дуб</option>
                                            <option value="3042">Дерево бальза</option>
                                            <option value="3062">Грецкий орех</option>
                                            <option value="3043">Вишня амаретто</option>
                                            <option value="3059">Орех терра</option>
                                            <option value="3058">Грецкий орех амаретто</option>
                                            <option value="3077">Винчестер</option>
                                            <option value="3081">Шеффелдский дуб светлый</option>
                                            <option value="3094">Орех Ребраун</option>
                                            <option value="1004">Метбраш платин</option>
                                            <option value="1005">Метбраш серый кварц</option>
                                            <option value="1006">Метбраш серый антрацит</option>
                                            <option value="XXXX">XXXX</option>
                                        </select>
                                        </div>
                                    </td>
                                    
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                            <div>
                                                <span class =' text-center ' style="font-size: small; font-weight: bold; text-transform: uppercase;padding-left:35%;" id ='code_lamplonka_snaruji` +String(i)+`'></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                            <select class="form-select" aria-label="" style="width: 220px;" onchange="svet_lamplonka_vnutri_selected(`+String(i)+`,this.value)" disabled id='svet_lamplonka_vnutri`+String(i)+`'>
                                                <option  value="" selected></option>
                                                <option value="2036" >Золотой дуб</option>
                                                <option value="2048">Дуб мокко</option>
                                                <option value="2007">Красный орех</option>
                                                <option value="2012">Орех</option>
                                                <option value="3086">Шеффелдский дуб серый</option>
                                                <option value="1012">Алюкс антрацит</option>
                                                <option value="3001">Терновый дуб</option>
                                                <option value="3002">Шеф Альпийский дуб</option>
                                                <option value="3003">Гранитовый шеф дуб</option>
                                                <option value="3042">Дерево бальза</option>
                                                <option value="3062">Грецкий орех</option>
                                                <option value="3043">Вишня амаретто</option>
                                                <option value="3059">Орех терра</option>
                                                <option value="3058">Грецкий орех амаретто</option>
                                                <option value="3077">Винчестер</option>
                                                <option value="3081">Шеффелдский дуб светлый</option>
                                                <option value="3094">Орех Ребраун</option>
                                                <option value="1004">Метбраш платин</option>
                                                <option value="1005">Метбраш серый кварц</option>
                                                <option value="1006">Метбраш серый антрацит</option>
                                                <option value="XXXX">XXXX</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                            <div>
                                                <span class =' text-center ' style="font-size: small; font-weight: bold; text-transform: uppercase;padding-left:35%" id='code_lamplonka_vnutri`+String(i)+`'></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1" style="width: 75px;">
                                        <div id='anod`+String(i)+`' class='anood'  style="width: 75px;" ></div>            
                                        </div>
                                    </td> 
                                    <td >
                                        <div class="input-group input-group-sm mb-1" style="width: 75px;">
                                        <div id='anod_vnutr`+String(i)+`'  style="width: 75px;"></div>            
                                        </div>
                                        </div>
                                    </td> 
                                    <td >
                                        <div class="input-group input-group-sm mb-1" style="width: 60px;">
                                        <select class="form-select" aria-label=""   disabled id='contactnost_anodirovki`+String(i)+`'  onchange="create_kratkiy_tekst(`+String(i)+`)">
                                            <option  value=""></option>
                                            <option value="YC" >YC</option>
                                            <option value="NC">NC</option>
                                        </select>
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                        <div>
                                            <span class =' text-center ' style="font-size: small; font-weight: bold; text-transform: uppercase;" id='tip_anodirovki`+String(i)+`'></span>
                                        </div>
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                        <div>
                                            <span class =' text-center ' style="font-size: small; width:250px; font-weight: bold; text-transform: uppercase;" id='sposob_anodirovki`+String(i)+`'></span>
                                        </div>
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1" id="nakleyka`+String(i)+`">
                                        <span id='nakleyka_nt`+String(i)+`' style='display:none;padding-left:35%'>NT1</span>
                                        <span id='nakleyka_org`+String(i)+`' style='display:none;padding-left:35%'></span>
                                        <div id='nakleyka_select`+String(i)+`' style='display:none;padding-left:35%'>
                                            <select class ='kod_nakleyki`+String(i)+`'  style='text-transform: uppercase; width: 70px;padding-left:35%' onchange="create_kratkiy_tekst(`+String(i)+`)"></select>
                                        </div>
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                            
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                            
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                        <select class="form-select" aria-label=""    style="width:200px; display:none; border-color:red" id='goods_group`+String(i)+`'  onchange="create_kratkiy_tekst(`+String(i)+`)">
                                            <option  value=""></option>
                                            <option value="QLIK_ALU_PROF" >Алюминиевый профиль</option>
                                            <option value="QLIK_RLS">Рольставни</option>
                                            <option value="QLIK_MSQ">Москитка</option>
                                            <option value="QLIK_FSD">Фасад</option>
                                            <option value="QLIK_ACS">Аксессуар</option>
                                            <option value="QLIK_GLS">Стекло</option>
                                            <option value="QLIK_PDF">Подоконник</option>
                                            <option value="QLIK_CLR">Металл</option>
                                            <option value="QLIK_MDF">МДФ</option>
                                        </select>
                                        </div>
                                    </td> 
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                        <span class ='text-center ' style="font-size: small;  font-weight: bold; text-transform: uppercase;" id='tex_name`+String(i)+`'></span>
                                        </div>
                                    </td> 
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                           
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                        <span class =' text-center ' style="font-size: small; width:250px; font-weight: bold; text-transform: uppercase;" id='kratkiy_tekst`+String(i)+`'></span>
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                        <input type="text" class="form-control "  style='width:90px;display:none;'   aria-describedby="inputGroup-sizing-sm"  id="sap_code_ruchnoy`+String(i)+`"  >           
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                        <input type="text" class="form-control "  style='width:220px;display:none;'   aria-describedby="inputGroup-sizing-sm"  id="kratkiy_text_ruchnoy`+String(i)+`"  >
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                        <input type="text" class="form-control "  style='width:90px;display:none;border-color:red;'   aria-describedby="inputGroup-sizing-sm" onkeyup='create_kratkiy_tekst(`+String(i)+`)' id="id_klaes`+String(i)+`"  >    
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                        <input type="text" class="form-control "  style='width:90px;display:none;border-color:red;'   aria-describedby="inputGroup-sizing-sm" onkeyup='create_kratkiy_tekst(`+String(i)+`)' id="klaes_nazvaniye`+String(i)+`"  >    
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                        <input type="text" class="form-control "  style='width:90px;display:none;border-color:red;'   aria-describedby="inputGroup-sizing-sm" onkeyup='create_kratkiy_tekst(`+String(i)+`)' id="code_sveta`+String(i)+`"  >    
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                        <input type="text" class="form-control "  style='width:90px;display:none;border-color:red;'   aria-describedby="inputGroup-sizing-sm" onkeyup='create_kratkiy_tekst(`+String(i)+`)' id="klaes_kratkiy`+String(i)+`"  >    
                                        </div>
                                    </td>
                                    <td >
                                        <div class="input-group input-group-sm mb-1">
                                           
                                        </div>
                                    </td>
                                    </tr>
                                    {%endfor%}

                            </tbody>
                        </table>
                        
                </div>
                </form>
            </section>


           
        </main>
<script>
    // Disable text selection and links in read-only tbod
    var readonlyTbody = document.getElementById("table-artikul");
    
    var artikul =document.querySelectorAll('.select2-hidden-accessible')
    artikul.forEach(function(element) {
    element.remove();
    });
    readonlyTbody.addEventListener("mousedown", function(event) {
        event.preventDefault();
    });
    
    readonlyTbody.addEventListener("click", function(event) {
        event.preventDefault();
    });
</script>
        
{%endblock%}


