{% extends 'client/base.html'%}
{%load static%}
{%block content%}

         

            <div class="container">
                <section class="topics-detail-section section-padding" id="topics-detail">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Owner</th>
                            <th scope="col">Checker</th>
                            <th scope="col">Status</th>
                            <th scope="col">Created</th>
                            <th scope="col">Options</th>
                        </tr>
                        </thead>
                        <tbody>
                            {%for order in orders%}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{order.data.name}}</td>
                                    <td>{{order.owner}}</td>
                                    <td>{%if order.checker %}{{order.checker}}{%endif%}</td>
                                    <td>
                                        
                                            {%if order.status == 0%}
                                            <span style="color: #0275d8;">on process</span>
                                            {%endif%}
                                        
                                    </td>
                                    <td>{{order.created_at|date:"d-m-Y H:i"}}</td>
                                    <td><a href="" class="btn btn-warning btn-sm" style="display: none;"><i class="bi bi-pen-fill"></i> Edit</a><a href="" class="btn btn-info btn-sm ml-1"><i class="bi bi-eye-fill"></i> See</a></td>
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </section>
            </div>

           
        </main>
        
{%endblock%}


