{% extends 'client/base.html'%}
{%load static%}
{%block content%}

         

            <div class="container">
                

                <section class="topics-detail-section section-padding" id="topics-detail">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Order name</th>
                            <th scope="col">Owner</th>
                            <th scope="col">Checker</th>
                            <th scope="col">Status</th>
                            <th scope="col">Created</th>
                            <th scope="col">Options</th>
                        </tr>
                        </thead>
                        <tbody>
                            {%for order in orders%}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{order.data.name}}</td>
                                    <td>{{order.owner}}</td>
                                    <td>{%if order.checker %}{{order.checker}}{%endif%}</td>
                                    <td>
                                        
                                        {%if order.status|stringformat:"d" == '1' %}<span class="badge badge-primary" value="1"   >Открыто</span>{%endif%}
                                        {%if order.status|stringformat:"d" == '10023' %} <span value="10023" class="badge badge-success"  >Выполнено</span>{%endif%}
                                        {%if order.status|stringformat:"d" == '10063' %}<span value="10063"  class="badge badge-warning"   >Работа ведется</span>{%endif%}
                                        {%if order.status|stringformat:"d" == '10081' %} <span value="10081" class="badge badge-secondary"  >На паузе</span>{%endif%}
                                        {%if order.status|stringformat:"d" == '10083' %} <span value="10083" class="badge badge-warning"   >Согласование</span>{%endif%}
                                        {%if order.status|stringformat:"d" == '10082' %}<span value="10082" class="badge badge-danger"  >Отменено</span>{%endif%}
                                        {%if order.status|stringformat:"d" == '10084' %}<span value="10084" class="badge badge-warning"  >Доработка заявителем</span>{%endif%}
                                        
                                    </td>
                                    <td>{{order.created_at|date:"d-m-Y H:i"}}</td>
                                    <td>{%if order.status|stringformat:"d" == '10081' or order.status|stringformat:"d" == '10084'%}<a href="{%url 'order_update' order.id %}" class="btn btn-warning btn-sm" ><i class="bi bi-pen-fill"></i> Edit</a>{%endif%}
                                        {%if order.status|stringformat:"d" == '10083' and order.partner %}
                                            {%if order.status|stringformat:"d" == '10083' and order.partner == request.user %}<a href="{%url 'order_update' order.id %}" class="btn btn-warning btn-sm" ><i class="bi bi-pen-fill"></i> Edit</a>{%endif%}
                                        {%endif%}
                                        <a href="{%url 'customer_order_detail' order.id %}" class="btn btn-info btn-sm ml-1"><i class="bi bi-eye-fill"></i> Detail</a></td>
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                    <div class="container">
                        <div class="d-flex justify-content-between">
                            <div class="pagination p-2">
                              <span class="step-links">
                                <ul class="pagination"  >
                                    {% if orders.has_previous %}
                                    <li class="page-item" ><a class="page-link"   href="?page={{ orders.previous_page_number }}{%if search%}&search={{search}}{%endif%}">Previous</a></li>
                                        {% if orders.number > 3 %}
                                            <li class="page-item"><a class="page-link" href="?page=1{%if search%}&search={{search}}{%endif%}">1</a></li>
                                            {% if orders.number > 4 %}
                                            <li class="page-item" > <span style="color: black;">...</span></li>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                    
                                    {% for num in orders.paginator.page_range %}
                                        {% if orders.number == num %}
                                            <li class="page-item"><a class="page-link"   href="?page={{ num }}{%if search%}&search={{search}}{%endif%}">{{ num }}</a></li>
                                        {% elif num > orders.number|add:'-3' and num < orders.number|add:'3' %}
                                            <li class="page-item"><a class="page-link"   href="?page={{ num }}{%if search%}&search={{search}}{%endif%}">{{ num }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                    
                                    {% if orders.has_next %}
                                        {% if orders.number < orders.paginator.num_pages|add:'-3' %}
                                        <li class="page-item"   > <span style="color: black;">...</span></li>
                                        <li class="page-item"><a class="page-link"    href="?page={{ orders.paginator.num_pages }}{%if search%}&search={{search}}{%endif%}">{{ orders.paginator.num_pages }}</a></li>
                                        {% elif orders.number < orders.paginator.num_pages|add:'-2' %}
                                        <li class="page-item"><a class="page-link"   href="?page={{ orders.paginator.num_pages }}{%if search%}&search={{search}}{%endif%}">{{ orders.paginator.num_pages }}</a></li>
                                        {% endif %}
                                        
                                        <li class="page-item"><a class="page-link"   href="?page={{ orders.next_page_number }}{%if search%}&search={{search}}{%endif%}">Next Page »</a></li>
                                       
                                    {% endif %}
                                  </ul>
                              </span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <a href="{%url 'test'%}">TEST ALLL</a>
        </main>
        
{%endblock%}


