{% extends 'client/base.html'%}
{%load static%}
{%block content%}

         

            <div class="container">
                

                <section class="topics-detail-section section-padding" id="topics-detail">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Order type</th>
                            <th scope="col">Order ID</th>
                            <th scope="col">Order name</th>
                            <th scope="col">Owner</th>
                            <th scope="col">Checker</th>
                            <th scope="col">Status</th>
                            <th scope="col">Created</th>
                            <th scope="col">Past date</th>
                            <th scope="col">Options</th>
                        </tr>
                        </thead>
                        <tbody>
                            {%for order in orders%}
                                <tr>
                                    <th scope="row" class="lengg">{{forloop.counter}}</th>
                                    <td class="text-primary">{{order.data.name}}</td>
                                    <td class="text-primary" style="width: 100px;"><a href="{%url 'customer_order_detail' order.id %}">{{order.id_for_jira}}</a></td>
                                    <td><a href="{%url 'customer_order_detail' order.id %}">{{order.theme |truncatechars:30}}</a></td>
                                    <td><i class="bi bi-person-circle mr-1 p-1"></i>{{order.owner}}</td>
                                    <td>{%if order.checker %}<i class="bi bi-person-check mr-1"></i>{{order.checker}}{%endif%}</td>
                                    <td>
                                        
                                        {%if order.status|stringformat:"d" == '1' %}<span class="badge badge-primary" value="1"   >Открыто</span>{%endif%}
                                        {%if order.status|stringformat:"d" == '10023' %} <span value="10023" class="badge badge-success"  >Выполнено</span>{%endif%}
                                        {%if order.status|stringformat:"d" == '10063' %}<span value="10063"  class="badge badge-warning"   >Работа ведется</span>{%endif%}
                                        {%if order.status|stringformat:"d" == '10081' %} <span value="10081" class="badge badge-secondary"  >На паузе</span>{%endif%}
                                        {%if order.status|stringformat:"d" == '10083' %} <span value="10083" class="badge badge-warning"   >Согласование</span>{%endif%}
                                        {%if order.status|stringformat:"d" == '10082' %}<span value="10082" class="badge badge-danger"  >Отменено</span>{%endif%}
                                        {%if order.status|stringformat:"d" == '10084' %}<span value="10084" class="badge badge-warning"  >Доработка заявителем</span>{%endif%}
                                        {%if order.status|stringformat:"d" == '10085' %}<span value="10084" class="badge badge-warning"  >Исправлено</span>{%endif%}
                                        
                                    </td>
                                    <td id="created_at{{forloop.counter}}">{{order.created_at|date:"Y-d-M H:i"}}</td>
                                    <td style="width: 130px!important;">
                                        <div class="d-flex" id='cloker{{forloop.counter}}'>
                                          <div class="p-1" id="clock{{forloop.counter}}"></div>
                                          <div class="p-1"><i class="bi bi-clock"></i></div>
                                        </div>
                                      </td>
                                    <td>{%if order.status|stringformat:"d" == '10081' or order.status|stringformat:"d" == '10084'%}<a href="{%url 'order_update_all' order.id %}" class="btn btn-warning btn-sm" ><i class="bi bi-pen-fill"></i> Edit</a>{%endif%}
                                        {%if order.status|stringformat:"d" == '10083' and order.partner %}
                                            {%if order.status|stringformat:"d" == '10083' and order.partner == request.user %}<a href="{%url 'order_update_all' order.id %}" class="btn btn-warning btn-sm" ><i class="bi bi-pen-fill"></i> Edit</a>{%endif%}
                                        {%endif%}
                                        </td>
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                    <div class="container">
                        <div class="d-flex justify-content-between">
                            <div class="pagination p-2">
                              <span class="step-links">
                                <ul class="pagination"  >
                                    {% if orders.has_previous %}
                                    <li class="page-item" ><a class="page-link"   href="?page={{ orders.previous_page_number }}{%if search%}&search={{search}}{%endif%}">Previous</a></li>
                                        {% if orders.number > 3 %}
                                            <li class="page-item"><a class="page-link" href="?page=1{%if search%}&search={{search}}{%endif%}">1</a></li>
                                            {% if orders.number > 4 %}
                                            <li class="page-item" > <span style="color: black;">...</span></li>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                    
                                    {% for num in orders.paginator.page_range %}
                                        {% if orders.number == num %}
                                            <li class="page-item"><a class="page-link"   href="?page={{ num }}{%if search%}&search={{search}}{%endif%}">{{ num }}</a></li>
                                        {% elif num > orders.number|add:'-3' and num < orders.number|add:'3' %}
                                            <li class="page-item"><a class="page-link"   href="?page={{ num }}{%if search%}&search={{search}}{%endif%}">{{ num }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                    
                                    {% if orders.has_next %}
                                        {% if orders.number < orders.paginator.num_pages|add:'-3' %}
                                        <li class="page-item"   > <span style="color: black;">...</span></li>
                                        <li class="page-item"><a class="page-link"    href="?page={{ orders.paginator.num_pages }}{%if search%}&search={{search}}{%endif%}">{{ orders.paginator.num_pages }}</a></li>
                                        {% elif orders.number < orders.paginator.num_pages|add:'-2' %}
                                        <li class="page-item"><a class="page-link"   href="?page={{ orders.paginator.num_pages }}{%if search%}&search={{search}}{%endif%}">{{ orders.paginator.num_pages }}</a></li>
                                        {% endif %}
                                        
                                        <li class="page-item"><a class="page-link"   href="?page={{ orders.next_page_number }}{%if search%}&search={{search}}{%endif%}">Next Page »</a></li>
                                       
                                    {% endif %}
                                  </ul>
                              </span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>

<script src="{% static 'js/eventsource.js' %}"></script>
<script src="{% static 'js/reconnecting-eventsource.js' %}"></script>
<script>
     var orders = document.querySelectorAll('.lengg');
    var intervalIds = [];



    for (let i = 1; i <= orders.length; i++) {
        var created_at = document.getElementById('created_at' + i).innerText;

        const [datePart, timePart] = created_at.split(' ');
        const [yy, day, monthAbbreviation] = datePart.split('-');
        const [hour, minute] = timePart.split(':');

        // Convert month abbreviation to month index (assuming abbreviation is provided in English)
        const monthIndex = ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'].indexOf(monthAbbreviation) + 1;

        // Create a new Date object for order creation time
        const year = new Date().getFullYear(); // Assume current year
        const createdAt = new Date(year, monthIndex - 1, parseInt(day), parseInt(hour), parseInt(minute));

        const intervalId = setInterval(updateTimePassed.bind(null, createdAt, i), 1000);
        intervalIds.push(intervalId);

        // Initial update
        updateTimePassed(createdAt, i);
    }

    function calculateTimePassed(createdAt) {
        
        const now = new Date();
        var passed_hour = 0

        if (createdAt.getDay() == now.getDay()) {
            if(createdAt.getHours() < 9){
                passed_hour = now.getHours() - 9
            }else if(createdAt.getHours() > 18){
                passed_hour = 9
            }else{
              if(now.getMinutes() <= createdAt.getMinutes()){
                passed_hour = now.getHours() - createdAt.getHours()- 1
              }else{
                passed_hour = now.getHours() - createdAt.getHours() 
              }
            }
        }else if (now.getDay() != createdAt.getDay()){
            if(createdAt.getDay() == 0){
                if(now.getDay() != 0){
                    var date_hour = (now.getDay() - 1) * 9 
                    // console.log(date_hour,'kkkkkk')
                    if(now.getHours() < 9){
                        passed_hour = date_hour 
                    }else if(now.getHours() > 18){
                        passed_hour = date_hour + 9
                    }else{
                      
                        passed_hour = (date_hour + (now.getHours() - 9 ))
                     
                    }
                    console.log(passed_hour,'llllll')
                }else{
                      passed_hour = 0
                }
            }else {
                var pased_date_create = 0
                if(createdAt.getHours() < 9){
                    pased_date_create = 9*60
                }else if(createdAt.getHours() >18){
                    pased_date_create = 0
                }else{
                    pased_date_create = 18*60 - createdAt.getHours()*60 - createdAt.getMinutes()
                }

                var hour_part = parseInt(pased_date_create/60) 


                var date_hour = (now.getDay()-createdAt.getDay() - 1 ) * 9 + hour_part

                if(now.getHours() < 9){
                    passed_hour = date_hour 
                }else if(now.getHours() > 18){
                    passed_hour = date_hour + 9
                }else{
                    passed_hour = date_hour + now.getHours() - 9
                }
            }
        }
        
        
        
        const timeDifference = now.getTime() - createdAt.getTime();
        const totalHoursPassed = Math.floor(timeDifference / (1000 * 60 * 60));
        var totalMinutesPassed = 0;
        if(createdAt.getHours() < 9){
            totalMinutesPassed = now.getMinutes()
        }else if(createdAt.getHours() > 18){
            totalMinutesPassed = 0
        }else{
          if(createdAt.getDay() == 0){
            totalMinutesPassed = now.getMinutes()
          }else{
            totalMinutesPassed = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
            console.log(totalMinutesPassed,'kkkmin')
          }
        }
        
        let elapsedBusinessHours = passed_hour;
        let elapsedBusinessMinutes = 0;

        // Iterate from createdAt date to now date
        
        
        return { totalHoursPassed, totalMinutesPassed, elapsedBusinessHours, elapsedBusinessMinutes };
    }

    // Function to update the displayed time
    function updateTimePassed(createdAt, i) {
        const { totalHoursPassed, totalMinutesPassed, elapsedBusinessHours, elapsedBusinessMinutes } = calculateTimePassed(createdAt);
        const timePassedElement = document.getElementById('clock' + i);

        if (parseInt(totalMinutesPassed) < 10) {
            var minnpas = '0' + String(totalMinutesPassed);
        } else {
            var minnpas = totalMinutesPassed;
        }
        if (elapsedBusinessHours >= 7){
            timePassedElement.innerText = `-${elapsedBusinessHours}:${minnpas}`;
        }else{
            timePassedElement.innerText = `${elapsedBusinessHours}:${minnpas}`;
        }

        // Handle styling based on elapsed business hours
        var cloker = document.getElementById('cloker' + i);
        if (elapsedBusinessHours >= 5 && elapsedBusinessHours < 6) {
            cloker.style.borderRadius = '17px';
            cloker.style.backgroundColor = '#ffdc73';
        } else if (elapsedBusinessHours >= 6 && elapsedBusinessHours < 7) {
            cloker.style.borderRadius = '17px';
            cloker.style.color = 'white';
            cloker.style.backgroundColor = '#ff3333';
        } else if (elapsedBusinessHours >= 7) {
            cloker.style.borderRadius = '17px';
            cloker.style.color = 'white';
            cloker.style.backgroundColor = '#b30000';
        }
    }


  
  
  var es = new ReconnectingEventSource('/events/');

  es.addEventListener('message', function (e) {
      console.log(e.data);
  }, false);

  es.addEventListener('stream-reset', function (e) {
      // ... client fell behind, reinitialize ...
  }, false);
</script>
        
{%endblock%}


