{% extends 'client/base.html'%}
{%load static%}
{%block content%}

         

            {%if order_type == 'alu_imzo'%}
            <section class="topics-detail-section section-padding" id="topics-detail">
                <form method="POST" id="basic_form" onsubmit="return validateForm()">
                    {%csrf_token%}
                <div class="" style="overflow: scroll;">
                        <table class="table table-sm table-light table-bordered" >
                            <thead>
                                {% csrf_token %}
                            <tr>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Название системы</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Артикул</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Длина (мм)</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Тип покрытия</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Сплав</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >тип закаленности</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Комбинация</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Бренд краски снаружи</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Код краски снаружи</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Бренд краски внутри</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Код краски внутри</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Код декор пленки снаружи</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Цвет декор пленки снаружи</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Код декор пленки внутри</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Цвет декор пленки внутри</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Цвет лам пленки снаружи</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Код лам пленки снаружи</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Цвет лам пленки внутри</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Код лам пленки внутри</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Код цвета анодировки снаружи</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Код цвета анодировки внутри</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Контактность анодировки</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Тип анодировки</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Способ анодировки</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Код наклейки</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Надпись наклейки</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >База профилей</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >GOODS_GROUP</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Tex_name</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Группа материалов</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;min-width: 300px;" class="align-middle" >Краткий текст товара</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >SAP Код вручную (вставляется вручную)</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;min-width: 300px;" class="align-middle" >Краткий текст товара (вставляется вручную)</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >KLAES ID</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >KLAES название</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Код Цвета</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Краткий код Klaes</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Место для комментариев</th>
                            </tr>
                            </thead>
                            <tbody id="table-artikul">
                                
                            </tbody>
                        </table>
                        
                </div>
                </form>
            </section>
            {%endif%}

            {%if order_type == 'alu_savdo'%}
            <section class="topics-detail-section section-padding" id="topics-detail">
                <form method="POST" id="basic_form" onsubmit="return validateForm()">
                    {%csrf_token%}
                <div style="overflow: scroll;width: auto;" id="table-container">
                    
                    <table class="table table-sm table-light table-bordered" id="my-table"  style="display: inline; table-layout: fixed;">
                        <thead >
                          <tr>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Название системы</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Артикул</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Длина (мм)</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Тип покрытия</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Сплав</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">тип закаленности</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Комбинация</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Бренд краски снаружи</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код краски снаружи</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Бренд краски внутри</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код краски внутри</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код декор пленки снаружи</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Цвет декор пленки снаружи</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код декор пленки внутри</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Цвет декор пленки внутри</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код лам пленки снаружи</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Цвет лам пленки снаружи</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код лам пленки внутри</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Цвет лам пленки внутри</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код цвета анодировки снаружи</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код цвета анодировки внутри</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Контактность анодировки</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Тип анодировки</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Способ анодировки</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код наклейки</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Надпись наклейки</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">База профилей</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Группа материалов</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;min-width: 300px;" class="align-middle" >Краткий текст товара</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >SAP Код вручную (вставляется вручную)</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;min-width: 300px;" class="align-middle" >Краткий текст товара (вставляется вручную)</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Место для комментариев</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Завод</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">ONLINE ID</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Название</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Цвет продукта</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Группа закупок</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Группа</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Тип</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Сегмент</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Бухгалтерский товары</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Бухгалтерский учет</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Базовый единица</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Альтернативный единица</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Стоимость базовой единицы</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Альтер. стоимость единицы</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Статус</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Завод</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Акфа дилерда очиш керак</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Тип клиента</th>
                          </tr>
                        </thead>
                        <tbody id="table-artikul" style="width: auto!important;">
                            
                        </tbody>
                    </table>
                  
                    
                </div>
                
            </form>
            </section>
            {%endif%}

            {%if order_type == 'alu_export'%}
            <section class="topics-detail-section section-padding" id="topics-detail">
                <form method="POST" id="basic_form" onsubmit="return validateForm()">
                    {%csrf_token%}
                <div class="" style="overflow: scroll;">
                        <table class="table table-sm table-light table-bordered" >
                            <thead>
                            <tr>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Название системы</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Артикул</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Длина (мм)</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Тип покрытия</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Сплав</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >тип закаленности</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Комбинация</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Бренд краски снаружи</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Код краски снаружи</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Бренд краски внутри</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Код краски внутри</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Код декор пленки снаружи</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Цвет декор пленки снаружи</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Код декор пленки внутри</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Цвет декор пленки внутри</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Цвет лам пленки снаружи</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Код лам пленки снаружи</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Цвет лам пленки внутри</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Код лам пленки внутри</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Код цвета анодировки снаружи</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Код цвета анодировки внутри</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Контактность анодировки</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Тип анодировки</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Способ анодировки</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Код наклейки</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Надпись наклейки</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >База профилей</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Группа материалов</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;min-width: 300px;" class="align-middle" >Краткий текст товара</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >SAP Код вручную (вставляется вручную)</th>
                                <th scope="col" style="font-size: 14px; line-height: 25px;min-width: 300px;" class="align-middle" >Краткий текст товара (вставляется вручную)</th>
                                
                                <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >Место для комментариев</th>
                            </tr>
                            </thead>
                            <tbody id="table-artikul">
                            
                            </tbody>
                        </table>
                        
                </div>
                
                </form>
            </section>
            {%endif%}

            {%if order_type == 'pvc_imzo'%}
            <section class="topics-detail-section section-padding" id="topics-detail">
                <form method="POST" id="basic_form" onsubmit="return validateForm()">
                    {%csrf_token%}
                <div style="overflow: scroll;" id="table-container">
                    
                    <table class="table table-sm table-light table-bordered" id="my-table">
                        <thead>
                          <tr>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Название системы</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Количество камер</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Артикул</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код к компоненту системы</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Тип покрытия</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Названия цвет основы/Замес</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код цвета основы/Замес</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Длина (мм)</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Цвет лам пленки снаружи</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код лам пленки снаружи</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Цвет лам пленки внутри</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код лам пленки внутри</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Цвет резины</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код цвет резины</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Надпись наклейки</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код наклейки</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">GOODS_GROUP</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Tex_name</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;min-width: 300px;" class="align-middle">Краткий текст товара</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >SAP Код вручную (вставляется вручную)</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;min-width: 300px;" class="align-middle" >Краткий текст товара (вставляется вручную)</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Место для комментариев</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Цена</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Клайс ID</th>
                        </tr>
                        </thead>
                        <tbody id="table-artikul">
                            
                        </tbody>
                    </table>
                  
                    
                </div>
               
               
            </form>
            </section>
            {%endif%}

            {%if order_type == 'pvc_savdo'%}
            <section class="topics-detail-section section-padding" id="topics-detail">
                <form method="POST" id="basic_form" onsubmit="return validateForm()">
                    {%csrf_token%}
                <div style="overflow: scroll;" id="table-container">
                    
                    <table class="table table-sm table-light table-bordered" id="my-table">
                        <thead>
                          <tr>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Название системы</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Количество камер</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Артикул</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код к компоненту системы</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Тип покрытия</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код цвета основы/Замес</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Длина (мм)</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Цвет лам пленки снаружи</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код лам пленки снаружи</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Цвет лам пленки внутри</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код лам пленки внутри</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код цвет резины</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Цвет резины</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код наклейки</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Надпись наклейки</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Группа материалов</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px; min-width: 300px;" class="align-middle">Краткий текст товара</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >SAP Код вручную (вставляется вручную)</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;min-width: 300px;" class="align-middle" >Краткий текст товара (вставляется вручную)</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Место для комментариев</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Дата добавление цены</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Цена с НДС</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Цена без НДС</th>
                            
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Online savdo ID</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Название</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Цвет продукта</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Группа закупок</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Группа</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Тип</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Сегмент</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Бухгал товары</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Бухгалтерский учет</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Базовый единица</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Альтер единица</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Стмость баз едн</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Альтер. стоимость единицы</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Статус</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Завод</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Акфа дилерда очиш керак</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Тип клиента</th>
                        </tr>
                        </thead>
                        <tbody id="table-artikul">
                            
                        </tbody>
                    </table>
                  
                    
                </div>
               
               
            </form>
            </section>
            {%endif%}
            {%if order_type == 'pvc_export'%}
            <section class="topics-detail-section section-padding" id="topics-detail">
                <form method="POST" id="basic_form" onsubmit="return validateForm()">
                    {%csrf_token%}
                <div style="overflow: scroll;" id="table-container">
                    
                    <table class="table table-sm table-light table-bordered" id="my-table">
                        <thead>
                          <tr>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Название системы</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Количество камер</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Артикул</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код к компоненту системы</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Тип покрытия</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код цвета основы/Замес</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Длина (мм)</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Цвет лам пленки снаружи</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код лам пленки снаружи</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Цвет лам пленки внутри</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код лам пленки внутри</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код цвет резины</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Цвет резины</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Код наклейки</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Надпись наклейки</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Группа материалов</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;min-width: 300px;" class="align-middle">Краткий текст товара</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle" >SAP Код вручную (вставляется вручную)</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;min-width: 300px;" class="align-middle" >Краткий текст товара (вставляется вручную)</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Цена</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Место для комментариев</th>
                           
                        </tr>
                        </thead>
                        <tbody id="table-artikul">
                            
                        </tbody>
                    </table>
                  
                    
                </div>
               
                
            </form>
            </section>
            {%endif%}
            {%if order_type == 'acs_imzo'%}
            <section class="topics-detail-section section-padding" id="topics-detail">
                <form method="POST" id="basic_form" onsubmit="return validateForm()">
                    {%csrf_token%}
                <div style="overflow: scroll;" id="table-container">
                    
                    <table class="table table-sm table-light table-bordered" id="my-table">
                        <thead>
                          <tr>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">SAP код</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Название товаров (40 симвлов)</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Полное название товара</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Цена материала (СУМ)</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Базовая единица измерения</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">GOODS_GROUP</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">TEX_NAME</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Коеффициент пересчета</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Альтернативная единица измерения</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">ID KLAES</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Группма Материалов</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Комментария</th>
                        </tr>
                        </thead>
                        <tbody id="table-artikul">
                            
                        </tbody>
                    </table>
                  
                    
                </div>
               
                
            </form>
            </section>
            {%endif%}
            {%if order_type == 'acs_savdo'%}
            <section class="topics-detail-section section-padding" id="topics-detail">
                <form method="POST" id="basic_form" onsubmit="return validateForm()">
                    {%csrf_token%}
                <div style="overflow: scroll;" id="table-container">
                    
                    <table class="table table-sm table-light table-bordered" id="my-table">
                        <thead>
                          <tr>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Дата добавления цены</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Цена за БЕИ</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Online savdo ID</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Название</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Цвет продукта</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Группа закупок</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Группа</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Тип</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Сегмент</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Бухгал товары</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Бухгалтерский учет</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Базовый единица</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Альтер единица</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Стмость баз едн</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Альтер. стоимость единицы</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Статус</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Завод</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Тип клиента</th>
                        </tr>
                        </thead>
                        <tbody id="table-artikul">
                            
                        </tbody>
                    </table>
                  
                    
                </div>
               
               
            </form>
            </section>
            {%endif%}
            {%if order_type == 'acs_export'%}
            <section class="topics-detail-section section-padding" id="topics-detail">
                <form method="POST" id="basic_form" onsubmit="return validateForm()">
                    {%csrf_token%}
                <div style="overflow: scroll;" id="table-container">
                    
                    <table class="table table-sm table-light table-bordered" id="my-table">
                        <thead>
                          <tr>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">SAP код</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Название товаров (40 симвлов)</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Полное название товара</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Цена материала (СУМ)</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Базовая единица измерения</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Коеффициент пересчета</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Альтернативная единица измерения</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Группма Материалов</th>
                            <th scope="col" style="font-size: 14px; line-height: 25px;" class="align-middle">Комментария</th>
                        </tr>
                        </thead>
                        <tbody id="table-artikul">
                            
                        </tbody>
                    </table>
                  
                    
                </div>
               
                
                </form>
            </section>
            {%endif%}

            <section class="explore-section " id="section_2">
                <div class="container">

                        <div class="col-12 text-center">
                            <h3 class="mb-4">Чат </h3>
                        </div>

                   
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">

                                    <div class="col-md-12 p-2" style="background-color: #fafbfc;{%if status == 1 %}display:none;{%endif%}">
                                        {%for order_detail in order_details %}
                                            {%if request.user == order_detail.owner %}
                                                {%if status != 1 %}
                                                {%if order_detail.message != '' or order_detail.file %}
                                                <div class="bg-white">
                                                    <div class="d-flex justify-content-start col-md-12"><i class="bi bi-person-bounding-box"></i> <h5 class="ml-2">{{order_detail.owner}}</h5></div>
                                                    {%if order_detail.message != '' %}
                                                        <div class="d-flex justify-content-start col-md-12" style="color:rgba(0,0,0,.6);">
                                                            <p>{{order_detail.message}}</p>
                                                        </div>
                                                    {%endif%}

                                                    {%if order_detail.file %}
                                                    <div class="d-flex justify-content-start col-md-12" style="color:rgba(0,0,0,.6);">
                                                        <p ><a class="link-opacity-100" href="{{order_detail.file.url}}"><i class="bi bi-file-earmark-arrow-down"></i> File link</a></p>
                                                    </div>
                                                    {%endif%}
                                                </div>
                                                    <hr>
                                                {%endif%}
                                                {%endif%}
                                            {%else%}
                                                    {%if status != 1 %}
                                                    {%if order_detail.message != '' or order_detail.file %}
                                                    <div class="bg-white">
                                                        <div class="d-flex justify-content-end col-md-12"><i class="bi bi-person-bounding-box"></i> <h5 class="ml-2">{{order_detail.owner}}</h5></div>
                                                        {%if order_detail.message != '' %}
                                                            <div class="d-flex justify-content-end col-md-12 pl-5" style="color:rgba(0,0,0,.6);">
                                                                <p style="padding-left: 40%;">{{order_detail.message}}</p>
                                                            </div>
                                                        {%endif%}

                                                        {%if order_detail.file %}
                                                        <div class="d-flex justify-content-end col-md-12" style="color:rgba(0,0,0,.6);">
                                                            <p ><a class="link-opacity-100" href="{{order_detail.file.url}}"><i class="bi bi-file-earmark-arrow-down"></i> File link</a></p>
                                                        </div>
                                                        {%endif%}
                                                    </div>
                                                        <hr>
                                                    {%endif%}
                                                    {%endif%}

                                            {%endif%}

                                                

                                        {% endfor %}
                                    </div>

                                    <form class="forms-sample " method="POST" enctype="multipart/form-data">
                                        {%csrf_token%}
                                    <div class="form-group col-2" >
                                        <label for="exampleSelectGender">Статус : {{status_name}}</label>
                                        {%if status == '10084' or status == '10083'%}
                                            <select class="form-control" id="exampleSelectGender" name="status" onchange="status_change(this.value)">
                                                <option value="0" ></option>
                                                <option value="10082" style="color:#d9534f" >Отменено</option>
                                                {%if status == '10084'%}
                                                    <option value="10085" style="color:#d9534f" >Исправлено</option>
                                                    {%endif%}
                                                {%if status == '10083'%}
                                                    <option value="10063" style="color: #f0ad4e;" >Работа ведется</option>
                                                {%endif%}
                                            </select>
                                        {%endif%}
                                    </div>
                                    <div class="form-group col-3">
                                        <label>Загрузка файла</label>
                                        <div class="input-group col-xs-12">
                                            
                                            <span class="input-group-append">
                                                <input type="file" name="file" class="file-upload-browse btn btn-primary" value="Upload" >
                                                
                                        </span>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group col-8">
                                        <label for="exampleTextarea1" id="examplelabel">Сообщение</label>
                                        <textarea class="form-control " id="exampleTextarea1" name="message" rows="4"></textarea>
                                        </div>
                                    <button type="submit" class="btn btn-primary mr-2">Отправить</button>
                                    <button class="btn btn-dark">Отменить</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
           
        </main>
        <div style="display: none;">
                {{ data|json_script:"items-data" }}
                <h1 id="order_type">{{order_type}}</h1>
        </div>
{%endblock%}

{%block java_script%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script> 

<link href="{% static 'select2/dist/css/select2.min.css'%}" rel="stylesheet" />
<script src="{% static 'select2/dist/js/select2.min.js'%}"></script>
<script  type="text/javascript" src="{% static 'js/saw/update.js'%}"></script>

<script>



</script>
{%endblock%}


