{% extends 'base.html'%}


{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> {{section}} </h3>
        <nav aria-label="breadcrumb">
        </nav>
      </div>
      <div class="row ">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Лист</h4>
              <div class="table-responsive">
                <form method="POST">
                    {%csrf_token%}
                <table class="table" >
                  <thead>
                    <tr >
                      <th  >
                        #
                      </th>
                      <th  >VALUTE </th>
                      <th  >START DATE </th>
                      <th  >END DATE </th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    <tr >
                      <td>
                        1
                      </td>
                      <td>
                        <span class="pl-2">{{form.valute}}</span>
                      </td>
                      <td>
                        <span class="pl-2">{{form.start_data}}</span>
                      </td>
                      <td>
                        <span class="pl-2">{{form.end_data}}</span>
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
                
                <div class="row p-2">
                    <div class="col-5"></div>
                    <div class="col-2">
                        <input type="submit" class=" btn btn-success" value="SAVE">
                    </div>
                    <div class="col-5"></div>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
   
  </div>
  



{% endblock %}