{% extends 'base.html'%}


{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> {{section}} </h3>
        <nav aria-label="breadcrumb">
          <form >
            <ul class="breadcrumb">
              <li class="breadcrumb-item"> <input type="search" class="form-control" placeholder="Search sapcode" name="search"></li>
              <li class="breadcrumb-item " aria-current="page"><button class="btn btn-success " type="submit">Search</button></li>
            </ul>
          </form>
        </nav>
      </div>
      <div class="row ">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Лист</h4>
              <div class="table-responsive">
                <table class="table" style="color: aliceblue;">
                  <thead>
                    <tr >
                      <th  style="color: aliceblue;">
                        #
                      </th>
                      <th  style="color: aliceblue;"> SAP CODE </th>
                      <th  style="color: aliceblue;"> LENGTH</th>
                      <th  style="color: aliceblue;"> VES ZA SHTUK </th>
                      <th  style="color: aliceblue;"> VES ZA METR </th>
                      <th  style="color: aliceblue;">Действие</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for profile in profiles %}
                    <tr >
                      <td>
                        {{forloop.counter}}
                      </td>
                      <td>
                        <span class="pl-2">{{profile.artikul}}</span>
                      </td>
                      <td>{{profile.length}} </td>
                      <td>{{profile.ves_za_shtuk}} </td>
                      <td>{{profile.ves_za_metr}} </td>
                      <td>
                        <div class="badge" style="cursor: pointer;" onclick="" id ="edit"><a class="btn btn-warning" href="{%url 'edit_profile_length' profile.id %}">Edit</a></div>
                        <div class="badge badge-outline-danger" style="cursor: pointer;" onclick="delete_sapcode(this,'{{profile.id}}')" id ="delete_btn">Delete</div>
                      </td>
                    </tr>
                    {%endfor%}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="badge btn-info m-2" style="display: none;" onclick="bulk_delete()" id="btn_del">Delete</div>
        </div>
      </div>
      
    </div>
   
  </div>
  
  <div class="container">
    <div class="d-flex justify-content-between">
        <div class="pagination p-2">
          <span class="step-links">
            <ul class="pagination"  style="background-color: azure;">
                {% if profiles.has_previous %}
                <li class="page-item" ><a class="page-link"  style="background-color: azure;" href="?page={{ profiles.previous_page_number }}{%if search%}&search={{search}}{%endif%}">Previous</a></li>
                    {% if profiles.number > 3 %}
                        <li class="page-item"><a class="page-link"  style="background-color: azure;" href="?page=1{%if search%}&search={{search}}{%endif%}">1</a></li>
                        {% if profiles.number > 4 %}
                        <li class="page-item"  style="background-color: azure;"> <span style="color: black;">...</span></li>
                        {% endif %}
                    {% endif %}
                {% endif %}

                {% for num in profiles.paginator.page_range %}
                    {% if profiles.number == num %}
                        <li class="page-item"><a class="page-link"  style="background-color: azure;" href="?page={{ num }}{%if search%}&search={{search}}{%endif%}">{{ num }}</a></li>
                    {% elif num > profiles.number|add:'-3' and num < profiles.number|add:'3' %}
                        <li class="page-item"><a class="page-link"  style="background-color: azure;" href="?page={{ num }}{%if search%}&search={{search}}{%endif%}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if profiles.has_next %}
                    {% if profiles.number < profiles.paginator.num_pages|add:'-3' %}
                    <li class="page-item"  style="background-color: azure;" > <span style="color: black;">...</span></li>
                    <li class="page-item"><a class="page-link"  style="background-color: azure;"  href="?page={{ profiles.paginator.num_pages }}{%if search%}&search={{search}}{%endif%}">{{ profiles.paginator.num_pages }}</a></li>
                    {% elif profiles.number < profiles.paginator.num_pages|add:'-2' %}
                    <li class="page-item"><a class="page-link"  style="background-color: azure;" href="?page={{ profiles.paginator.num_pages }}{%if search%}&search={{search}}{%endif%}">{{ profiles.paginator.num_pages }}</a></li>
                    {% endif %}
                    
                    <li class="page-item"><a class="page-link"  style="background-color: azure;" href="?page={{ profiles.next_page_number }}{%if search%}&search={{search}}{%endif%}">Next Page »</a></li>
                   
                {% endif %}
              </ul>
          </span>
        </div>
    </div>
  </div>

  
<script>


var items = document.querySelectorAll('#selected_checbox')
var btn_del = document.getElementById('btn_del')

for (let i = 0; i < items.length; i++) {
  items[i].addEventListener('click', function(elem) {
    var delete_btns = document.querySelectorAll('#delete_btn')
    for (let j = 0; j < delete_btns.length; j++) {
      delete_btns[j].style.display = "none";
    }
    btn_del.style.display ='block';
  });
}



function bulk_delete(ids){
  var selected_chek = document.querySelectorAll('#selected_checbox:checked');
  var ids = []
  for (let i = 0; i < selected_chek.length; i++) {
    ids.push(selected_chek[i].value)
    // console.log(selected_chek[i].value);
  }
  
  Swal.fire({
        showDenyButton: true,
        confirmButtonText: 'SAP codelar o\'chirilsinmi?Ha',
        denyButtonText: `Yo'q`,
      }).then((result) => {
        if (result.isConfirmed) {
          var url ="{% url 'bulk_delete_length_profile' %}";
          console.log(ids);
          $.ajax({
                method:'POST',
                url: url,
                csrfmiddlewaretoken:'{% csrf_token %}',
                data:{'type':'{{type}}','ids':String(ids)}
            }).done(function() {
              for (let i = 0; i < selected_chek.length; i++) {
                remove_me_all(selected_chek[i])
              }
            });

        } else if (result.isDenied) {
          Swal.fire('Chuchvara otmen!!!', 'ok', 'info')
        }
      })
}


function delete_sapcode(elem,id){
    
    Swal.fire({
        showDenyButton: true,
        confirmButtonText: 'SAP codeni o\'chirilsinmi?Ha',
        denyButtonText: `Yo'q`,
      }).then((result) => {
        if (result.isConfirmed) {
          var url ="/alu/delete-length-profile/" + id;
          $.ajax({
                method:'POST',
                url: url,
                csrfmiddlewaretoken:'{% csrf_token %}',
                data:{'type':'{{type}}'}
            }).done(function() {
              remove_me(elem)
            });

        } else if (result.isDenied) {
          Swal.fire('Chuchvara otmen!!!', 'ok', 'info')
        }
      })

  }

  function remove_me(elem){
    elem.parentElement.parentElement.remove()
  }
 
  function remove_me_all(elem){
    elem.parentElement.parentElement.parentElement.parentElement.remove()
  }
 
</script>
{% endblock %}