{% extends 'base.html'%}


{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> {{section}} </h3>
        <nav aria-label="breadcrumb">
        </nav>
      </div>
      <div class="row ">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Лист</h4>
              <div class="table-responsive">
                <form method="POST">
                    {%csrf_token%}
                <table class="table" >
                  <thead>
                    <tr >
                      <th  >
                        #
                      </th>
                      <th  > SAP CODE </th>
                      <th  > ARBPL 1 </th>
                      <th  > ARBPL 2 </th>
                      <th  > ARBPL 3 </th>
                      <th  > LGORD </th>
                    
                    </tr>
                  </thead>
                  <tbody>
                    
                    
                    <tr >
                      <td>
                        1
                      </td>
                      <td>
                        <div class="input-group input-group-sm mb-3">
                            
                            <input type="text" class="form-control" aria-label="Small" id ='artikul' aria-describedby="inputGroup-sizing-sm" value="{{norma.data.sap_code}}">
                          </div>
                      </td>
                      <td>
                        <div class="input-group input-group-sm mb-3">
                            
                            <input type="text" class="form-control" aria-label="Small" id='arbpl1' aria-describedby="inputGroup-sizing-sm" {%if norma.data.ARBPL%}value="{{norma.data.ARBPL.0}}{%endif%}">
                          </div>
                      </td>
                      <td>
                        <div class="input-group input-group-sm mb-3">
                            
                            <input type="text" class="form-control" aria-label="Small" id='arbpl2' aria-describedby="inputGroup-sizing-sm" {%if norma.data.ARBPL%}value="{{norma.data.ARBPL.1}}{%endif%}">
                          </div>
                      </td>
                     
                      <td>
                        <div class="input-group input-group-sm mb-3">
                            
                            <input type="text" class="form-control" aria-label="Small" id='arbpl3' aria-describedby="inputGroup-sizing-sm" {%if norma.data.ARBPL%}value="{{norma.data.ARBPL.2}}{%endif%}">
                          </div>
                      </td>
                     
                      <td>
                        <div class="input-group input-group-sm mb-3">
                            
                            <input type="text" class="form-control" aria-label="Small" id='lgord' aria-describedby="inputGroup-sizing-sm" {%if norma.data.LGORD%}value="{{norma.data.LGORD}}{%endif%}">
                          </div>
                      </td>
                     
                    </tr>
                    
                  </tbody>
                </table>
                
                <div class="row p-2">
                    <div class="col-5"></div>
                    <div class="col-2">
                        <a  class=" btn btn-success" onclick="add('{{norma.id}}')">SAVE</a>
                    </div>
                    <div class="col-5"></div>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
   
  </div>

<script>
    function getCSRFToken() {
        return $('input[name=csrfmiddlewaretoken]').val();
    }
    function add(id){
        var artikul =$('#artikul');
        var arbpl1 =$('#arbpl1');
        var arbpl2 =$('#arbpl2');
        var arbpl3 =$('#arbpl3');
        var lgord =$('#lgord');
       
        var csrfToken = getCSRFToken();
        data ={
            'artikul':artikul.val(),
            'arbpl1':arbpl1.val(),
            'arbpl2':arbpl2.val(),
            'arbpl3':arbpl3.val(),
            'lgord':lgord.val(),
        }
        $.ajax({
            method: "POST",
            url: "/accessuar/update-texcarta/"+id,
            headers: { "X-CSRFToken": csrfToken },
            data:JSON.stringify(data)
            }).done(function( msg ) {
            document.body.style.cursor='default';
            if (msg.saved ==true){
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Successfuly saved!',
                    showConfirmButton: false,
                    timer: 1500
                    })
                    
                    window.location.href='/accessuar/texcarta-list'
                }else{
                    Swal.fire({
                    icon: 'error',
                    title: 'Bu siryo mavjud!',
                    text: 'Iltimos boshqatdan tekshirib chiqing!'
                    })
                    
                }
            });
    }
</script>

{% endblock %}