{% extends 'base.html'%}


{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> Нормы </h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">UI Elements</a></li>
            <li class="breadcrumb-item active" aria-current="page">Buttons</li>
          </ol>
        </nav>
      </div>
      <div class="row">
        
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Найти разловки</h4>
              <form class="forms-sample" method="POST">
                {%csrf_token%}
                <div class="form-group">
                  <label for="exampleTextarea1">Листь сапкода</label>
                  <textarea class="form-control" id="exampleTextarea1" rows="8" name="ozmk"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-dark">Cancel</button>
              </form>
              <br>
              {%if path%}
              <form>
                <input type="hidden" name="path" value="{{path}}">
                <p class="text-info">{{path}}</p>
                <button class="btn btn-primary mr-2" >Открыть файл </button>
              </form>
              {%endif%}
            </div>
          </div>
        </div>
      </div>
    </div>
   
{% endblock %}

