{% extends 'base.html'%}


{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> Нормы </h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">UI Elements</a></li>
            <li class="breadcrumb-item active" aria-current="page">{%if 'pvc' in request.path %}<a class="btn btn-success btn-sm" href="{%url 'download_all_razlovki_pvc' %}">Скачать все раз.</a>{%else%}Button{%endif%}</li>
          </ol>
        </nav>
      </div>
      <div class="row">
        
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Найти разловки</h4>
              <form class="forms-sample" method="POST">
                {%csrf_token%}
                <div class="form-group">
                  <label for="exampleTextarea1">Лист сапкода</label>
                  <textarea class="form-control" id="exampleTextarea1" rows="8" name="ozmk"></textarea>
                </div>
                {%if 'pvc' not in request.path %}
                <div class="form-check-flat form-check-primary p-3">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="for1101" > For 1101 </label>
                </div>
                <div class="form-check-flat form-check-primary p-3">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="for1201" > For 1201 </label>
                </div>
                {%endif%}
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-dark">Cancel</button>
              </form>
              <br>
              {%if path%}
                {% for p in path%}
                  {% if p != "" %}
                  <form>
                    <input type="hidden" name="path" value="{{p}}">
                    <p class="text-info">{{p}}</p>
                    <button class="btn btn-primary mr-2" >Открыть файл </button>
                  </form>
                  {%endif%}
                {% endfor %}
              {%endif%}
            </div>
          </div>
        </div>
      </div>
    </div>
   
{% endblock %}

