{% extends 'base.html'%}


{%block content %}
<div class="content-wrapper">
 
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Order List</h4>
         <p class="text-uppercase">SAVDO</p>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Заявка №</th>
                  <th>Created</th>
                  <th>Status</th>
                  <th>Options</th>
                  
                </tr>
              </thead>
              <tbody>
                
                {%for order in orders %}
                    <td>{{forloop.counter}}</td>
                    <td ><span class="text-dark bg-light">AABBCC</span></td>
                    <td>{{order.created_at|date:"d-m-Y H:i:s"}}</td>
                    <td>
                      <span class="text-dark bg-success" style="border-radius: 2px; font-size: 10px;">
                      {%if order.status == 1%}ON HOLD{%endif%}
                      {%if order.status == 2%}SAVDO FORMAT FILE{%endif%}
                      {%if order.status == 3 or order.status == 4 %}SAVDO SENA FILE{%endif%}
                      {%if order.status == 5 %}SAVDO SENA DONE{%endif%}
                      {%if order.status == 6 %}SAVDO SENA FILE FOR SAP{%endif%}
                      {%if order.status == 7 %}SAP FORMAT{%endif%}
                      </span>
                    </td> 
                    <td><a class="text-uppercase btn btn-secondary" href="{% url 'generate_online_savdo' order.id%}">Detail</a></td>
                  </tr>
                {%endfor%}



                
               
                
                
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>





{% endblock %}