{% extends 'base.html'%}
{%load static %}

{% block content %}
            <div class="mt-4"></div>
            {%if order_type == 'alu_imzo'%}
            <section class="topics-detail-section section-padding" id="topics-detail">
                <form method="POST" id="basic_form" onsubmit="return validateForm()">
                    {%csrf_token%}
                <div class="" style="overflow: scroll;">
                        <table class="table table-sm  table-bordered table-light ">
                            <thead>
                                {% csrf_token %}
                            <tr>
                                <th scope="col" style="font-size: 14px;" class="align-middle" >Название системы</th>
                                <th scope="col" style="font-size: 14px;" class="align-middle" >Артикул</th>
                                <th scope="col" style="font-size: 14px;" class="align-middle" >Длина (мм)</th>
                                
                            </tr>
                            </thead>
                            <tbody id="table-artikul">
                                
                            </tbody>
                        </table>
                        </div>
                    <a  class="btn btn-info mt-2" onclick="create_kratkiy_tekst()" id ='btn_save'> Save</a>
                </form>
            </section>
            {%endif%}

            {%if order_type == 'alu_savdo'%}
            <section class="topics-detail-section section-padding" id="topics-detail">
                <form method="POST" id="basic_form" onsubmit="return validateForm()">
                    {%csrf_token%}
                <div style="overflow: scroll;" id="table-container">
                    
                    <table class="table table-sm  table-bordered table-light">
                        <thead>
                          <tr>
                            <th scope="col" style="font-size: 14px;" class="align-middle">Название системы</th>
                            <th scope="col" style="font-size: 14px;" class="align-middle">Артикул</th>
                            <th scope="col" style="font-size: 14px;" class="align-middle">Длина (мм)</th>
                            
                          </tr>
                        </thead>
                        <tbody id="table-artikul">
                            
                        </tbody>
                    </table>
                  
                    
                </div>
                <a  class="btn btn-info mt-2" onclick="create_kratkiy_tekst()" id ='btn_save'> Save</a>
            </form>
            </section>
            {%endif%}

            {%if order_type == 'alu_export'%}
            <section class="topics-detail-section section-padding" id="topics-detail">
                <form method="POST" id="basic_form" onsubmit="return validateForm()">
                    {%csrf_token%}
                <div class="" style="overflow: scroll;">
                        <table class="table table-sm  table-bordered table-light">
                            <thead>
                            <tr>
                                <th scope="col" style="font-size: 14px;" class="align-middle" >Название системы</th>
                                <th scope="col" style="font-size: 14px;" class="align-middle" >Артикул</th>
                                <th scope="col" style="font-size: 14px;" class="align-middle" >Длина (мм)</th>
                            </tr>
                            </thead>
                            <tbody id="table-artikul">
                            
                            </tbody>
                        </table>
                        
                </div>
                <a  class="btn btn-info mt-2" onclick="create_kratkiy_tekst()" id ='btn_save'> Save</a>
                </form>
            </section>
            {%endif%}

            

            <hr>
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Чат</h4>

                            <div class="col-md-12 p-2" style="background-color: #fafbfc;{%if status == 1 %}display:none;{%endif%}">
                                {%for order_detail in order_details %}
                                    {%if request.user == order_detail.owner %}
                                        {%if status != 1 %}
                                        {%if order_detail.message != '' or order_detail.file %}
                                        <div class="bg-white">
                                            <div class="d-flex justify-content-start col-md-12"><i class="bi bi-person-bounding-box"></i> <h5 class="ml-2">{{order_detail.owner}}</h5></div>
                                            {%if order_detail.message != ''%}
                                                <div class="d-flex justify-content-start col-md-12" style="color:rgba(0,0,0,.6);">
                                                    <p>{{order_detail.message}}</p>
                                                </div>
                                            {%endif%}

                                            {%if order_detail.file %}
                                            <div class="d-flex justify-content-start col-md-12" style="color:rgba(0,0,0,.6);">
                                                <p ><a class="link-opacity-100" href="{{order_detail.file.url}}"><i class="bi bi-file-earmark-arrow-down"></i> File link</a></p>
                                            </div>
                                            {%endif%}
                                        </div>
                                            <hr>
                                        {%endif%}
                                        {%endif%}
                                    {%else%}
                                            {%if status != 1 %}
                                            {%if order_detail.message != '' or order_detail.file %}
                                            <div class="bg-white">
                                                <div class="d-flex justify-content-end col-md-12"><i class="bi bi-person-bounding-box"></i> <h5 class="ml-2">{{order_detail.owner}}</h5></div>
                                                {%if order_detail.message != ''%}
                                                    <div class="d-flex justify-content-end col-md-12 pl-5" style="color:rgba(0,0,0,.6);">
                                                        <p style="padding-left: 40%;">{{order_detail.message}}</p>
                                                    </div>
                                                {%endif%}

                                                {%if order_detail.file %}
                                                <div class="d-flex justify-content-end col-md-12" style="color:rgba(0,0,0,.6);">
                                                    <p ><a class="link-opacity-100" href="{{order_detail.file.url}}"><i class="bi bi-file-earmark-arrow-down"></i> File link</a></p>
                                                </div>
                                                {%endif%}
                                            </div>
                                                <hr>
                                            {%endif%}
                                            {%endif%}

                                    {%endif%}

                                        

                                {% endfor %}
                            </div>

                            <form class="forms-sample mt-2" method="POST" enctype="multipart/form-data">
                                {%csrf_token%}
                              <div class="form-group col-2" >
                                <label for="exampleSelectGender">Статус</label>
                                <select class="form-control" id="exampleSelectGender" name="status" onchange="status_change(this.value)">
                                {%if request.user.role == 'moderator' %}
                                  <option style="color:#3dc8b9" value="1" {%if status == '1' %} selected {%endif%}>Открыто</option>
                                  <option value="10023" style="color: #5cb85c;" {%if status == '10023' %} selected {%endif%}>Выполнено</option>
                                  <option value="10063" style="color: #f0ad4e;" {%if status == '10063' %} selected {%endif%}>Работа ведется</option>
                                  <option value="10081" style="color:#292b2c" {%if status == '10081' %} selected {%endif%}>На паузе</option>
                                  <option value="10083" style="color: #f0ad4e;" {%if status == '10083' %} selected {%endif%}>Согласование</option>
                                  <option value="10082" style="color:#d9534f" {%if status == '10082' %} selected {%endif%}>Отменено</option>
                                  <option value="10084" style="color: #f0ad4e;" {%if status == '10084' %} selected {%endif%}>Доработка заявителем</option>
                                  <option value="10085" style="color: #f0ad4e;" {%if status == '10085' %} selected {%endif%}>Исправлено</option>
                                  {%else%}
                                  <option value="10083" style="color: #f0ad4e;" {%if status == '10083' %} selected {%endif%}>Согласование</option>
                                  <option value="10063" style="color: #f0ad4e;" {%if status == '10063' %} selected {%endif%}>Работа ведется</option>
                                  <option value="10082" style="color:#d9534f" {%if status == '10082' %} selected {%endif%}>Отменено</option>
                                    {%endif%}
                                

                                </select>
                              </div>
                              <div class="form-group col-3" id ='user_list' style="display: {%if status == '10083' %}block{%else%}none{%endif%};">
                                <label for="exampleSelectGenderr">User</label>
                                <select class="form-control" id="users" name="user_id" >
                                  <option style="color:#3dc8b9" value="" >Select user</option>
                                  {%for user in users%}
                                    <option style="color:#3dc8b9" {%if user == partner %} selected {%endif%}value="{{user.id}}">{{user}}</option>
                                  {%endfor%}
                                </select>
                              </div>
                              <div class="form-group col-3">
                                <label>Загрузка файла</label>
                                <div class="input-group col-xs-12">
                                    
                                    <span class="input-group-append">
                                        <input type="file" name="file" class="file-upload-browse btn btn-primary" value="Upload" >
                                        
                                  </span>
                                </div>
                              </div>
                              
                              <div class="form-group col-8">
                                <label for="exampleTextarea1" id="examplelabel">Сообщение</label>
                                <textarea class="form-control " id="exampleTextarea1" name="message" rows="4"></textarea>
                                </div>
                            <div id="btn_command" style="display: none;">
                                <button type="submit" class="btn btn-primary mr-2">Отправить</button>
                                <button class="btn btn-dark">Отменить</button>
                            </div>
                            </form>
                          </div>
                    </div>
                </div>
            </div>
           
        </main>

<script  type="text/javascript">
    order_items ='{{ data|escapejs  }}'
    text =""
    var jsonData = JSON.parse(order_items).data;
    i = 0
var order_type ='{{order_type}}'

var order ={
            'alu_imzo':[ 'nazvaniye_system','base_artikul','dlina'],
            'alu_savdo':['nazvaniye_system','base_artikul','dlina'],
            'alu_export':['nazvaniye_system','base_artikul','dlina'],
               
        }
for (var key in jsonData) {
    i += 1
        text2=''
        for (var j = 0; j < order[order_type].length; j++) {
            var key2 = order[order_type][j];
            text2+=`<td  style='background-color:white'>
                       
                            <span class ='`+key2 +String(i)+String(j)+`'style="text-transform: uppercase;font-size: 16px;" class="text-center"></span>
                        
                    </td>
                    `
        }
        text_extra =''
        // console.log(order_type)
        

        text +=`
                <tr id='table_tr` +String(i)+`'  >
                                            
                    `+text2 + text_extra+` 
                </tr>`
    
    
}



var table = $('#table-artikul')

table.append(text)
i = 0
console.log(jsonData)
for (var key in jsonData) {
    i += 1
    set_values(jsonData[key],String(i),order[order_type])
    
}
function getCSRFToken() {
        return $('input[name=csrfmiddlewaretoken]').val();
    }

function create_kratkiy_tekst(){
    var data = []
    var url ='{%url "save_ves_of_profile" %}'
    var all_correct_ves = true
    var i=0
    
    for (var key in jsonData) {
        i += 1
        new_dat ={}
        var artikul = $('.base_artikul'+i+'1').text()
        var dlina = $('.dlina'+i+'2').text()
        var ves = $('#ves'+i+'3')
        if(ves.val() =='' || ves.val() == undefined){
            all_correct_ves =false
        }
        if (ves.hasClass('new')){
            new_dat['base_artikul'] =artikul
            new_dat['dlina'] =dlina
            new_dat['ves'] =ves.val()
            data.push(new_dat)
        }
    }
    // console.log(all_correct_ves,'eeeeeeeee')
    if(all_correct_ves){

        var csrfToken = getCSRFToken();
        var postData = {
            'data': JSON.stringify(data),
            'order_type':order_type,
        }
        $.ajax({
            type: 'POST',
            url: url,
            headers: { "X-CSRFToken": csrfToken },
            data: postData,
        }).done(function (res) {
            if(res.status == 201 ){

                Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: res.msg,
                            showConfirmButton: false,
                            timer: 1000
                              })

                var btn = $('#btn_save')
                var ves_all = $('.ves_all')
                btn.css('display','none')
                for(i=0; i<ves_all.length; i++){
                    ves_all[i].setAttribute('disabled',true)
                }
                
                
            }else{
                Swal.fire({
                icon: 'error',
                title: 'Something went wrong.',
                text: 'Check all data!!!',
            });
            }
            
        });
    }else{
        Swal.fire({
                icon: 'error',
                title: 'Malumotlar to\'liq emas!!!',
                text: 'Itimos malumotlarni to\'ldiring.',
            });
    }

}


function set_values(base,i,order){
    for (var j = 0; j < order.length; j++) {
        var key = order[j];
        if(base[key]){
            var va2 =$('.'+key+i+j)
            va2.text(base[key])
            
            }
    }
    

}


function status_change(val){
    if(val == 10083){
        var user_list =$('#user_list')
        user_list.css('display','block')
        var users =$('#users')
        users.attr('required',true)
    }else{
        var user_list =$('#user_list')
        user_list.css('display','none')
        var users =$('#users')
        users.attr('required',false)
    } 

    if(val ==10084 || val ==10081){
        var textarea =$('#exampleTextarea1')
        textarea.addClass('mustbe_red')
        textarea.attr('required',true)
    }else{
        var textarea =$('#exampleTextarea1')
        textarea.attr('required',false)
        textarea.removeClass('mustbe_red')
    }
    var btn_command = $('#btn_command')
    btn_command.css('display','block')
}


</script>

{%endblock%}



