{% extends 'client/base.html'%}
{%load static%}
{%block content%}
            

           


            <section class="topics-detail-section section-padding" id="topics-detail">
                <form method="POST" id="basic_form" onsubmit="return validateForm()">
                    {%csrf_token%}
                <div style="overflow: scroll;" id="table-container">
                    
                    <table class="table table-sm" id="my-table">
                        <thead>
                          <tr>
                            <th scope="col" style="font-size: 14px;">Действие</th>
                            <th scope="col" style="font-size: 14px;">SAP код</th>
                            <th scope="col" style="font-size: 14px;">Название товаров (40 симвлов)</th>
                            <th scope="col" style="font-size: 14px;">Полное название товара</th>
                            <th scope="col" style="font-size: 14px;">Цена материала (СУМ)</th>
                            <th scope="col" style="font-size: 14px;">Базовая единица измерения</th>
                            <th scope="col" style="font-size: 14px;">GOODS_GROUP</th>
                            <th scope="col" style="font-size: 14px;">TEX_NAME</th>
                            <th scope="col" style="font-size: 14px;">Коеффициент пересчета</th>
                            <th scope="col" style="font-size: 14px;">Альтернативная единица измерения</th>
                            <th scope="col" style="font-size: 14px;">ID KLAES</th>
                            <th scope="col" style="font-size: 14px;">Группма Материалов</th>
                            <th scope="col" style="font-size: 14px;">Комментария</th>
                        </tr>
                        </thead>
                        <tbody id="table-artikul">
                            
                        </tbody>
                    </table>
                  
                    
                </div>
               
                <div class="container ">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="d-flex justify-content-start p-2">
                                <input type="button" class="btn btn-warning " value="Добавить" onclick="add_column()" id="add_column_btn" ><span class="m-1" ></span>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="d-flex justify-content-end p-2">
                                <input type="submit" class="btn btn-primary" value="Загрузить" id="zagruzka_file" onclick="ready_all()">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </section>


            
        </main>
{%endblock%}

{%block java_script%}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script> 

<link href="{% static 'select2/dist/css/select2.min.css'%}" rel="stylesheet" />
<script src="{% static 'select2/dist/js/select2.min.js'%}"></script>
<script src="{% static 'js/accessuar_imzo.js'%}"></script>

{%endblock%}