{% extends 'client/base.html'%}
{%load static%}
{%block content%}
            

          


            <section class="topics-detail-section section-padding" id="topics-detail">
                <form method="POST" id="basic_form" onsubmit="return validateForm()">
                    {%csrf_token%}
                <div style="overflow: scroll;" id="table-container">
                    
                    <table class="table table-sm" id="my-table">
                        <thead>
                          <tr>
                            <th scope="col" style="font-size: 14px;">Действие</th>
                            <th scope="col" style="font-size: 14px;">SAP код</th>
                            <th scope="col" style="font-size: 14px;">Название товаров (40 симвлов)</th>
                            <th scope="col" style="font-size: 14px;">Полное название товара</th>
                            <th scope="col" style="font-size: 14px;">Цена материала (СУМ)</th>
                            <th scope="col" style="font-size: 14px;">Базовая единица измерения</th>
                            <th scope="col" style="font-size: 14px;">Коеффициент пересчета</th>
                            <th scope="col" style="font-size: 14px;">Альтернативная единица измерения</th>
                            <th scope="col" style="font-size: 14px;">Группма Материалов</th>
                            <th scope="col" style="font-size: 14px;">Комментария</th>
                        </tr>
                        </thead>
                        <tbody id="table-artikul">
                            
                        </tbody>
                    </table>
                  
                    
                </div>
               
                <div class="container ">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="d-flex justify-content-start p-2">
                                <input type="button" class="btn btn-warning " value="Добавить" onclick="add_column()" id="add_column_btn" ><span class="m-1" ></span>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="d-flex justify-content-end p-2">
                                <span  class="btn btn-primary" value="" id="zagruzka_file" onclick="ready_all()">Загрузить</span>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </section>


           
        </main>
{%endblock%}

{%block java_script%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script> 

<link href="{% static 'select2/dist/css/select2.min.css'%}" rel="stylesheet" />
<script src="{% static 'select2/dist/js/select2.min.js'%}"></script>
<script src="{% static 'js/accessuar_export.js'%}"></script>
<script>

    function getCSRFToken() {
        return $('input[name=csrfmiddlewaretoken]').val();
    }

    function ready_all(){
        var all_correct = true;
        var data_empty = false
        var dattt_len  = Object.keys(data_base).length
        console.log(dattt_len,'ddddddddsaf')
        console.log(data_base,'base')
        for(let k =1; k<=dattt_len; k++){
            if(data_base[k].polnoye_nazvaniye && data_base[k].sena_materiala && data_base[k].bazoviy_edinitsa){
                continue;
            }else{
                delete data_base[k]
            }
        }
        if (Object.keys(data_base).length === 0) {
            data_empty = true
        }
        console.log(data_base,'dddd')
        for (var key in data_base) {
            if (data_base.hasOwnProperty(key)) { 
                var value = data_base[key];
                if(!value.full){
                    all_correct=false
                }
            }
        }

        if (!data_empty && all_correct){
            var json_data = JSON.stringify(data_base)
            var url = "/client/order-save"
            var csrfToken = getCSRFToken();
            var postData = {
                'data': json_data,
                'order_type':'acs_export',
                'name':'EXPORT'
            }
            $.ajax({
                type: 'POST',
                url: url,
                headers: { "X-CSRFToken": csrfToken },
                data: postData,
            }).done(function (res) {
                console.log(res)
                if (res.status ==201){
                    Swal.fire('Qabul qilindi...', '', 'success')
                    
                    var url_check ='{{request.get_host}}/client/order-check/'+res.order_id
                    var tbody = $('#basic_form')
                    tbody.remove()
                    var add_link =document.getElementById('topics-detail')
                    text =`<div class="container">
                        <div class="row">

                            <div class="col-lg-8 col-12 mx-auto">
                                <h1 class="text-white text-center">Akfa. Group. NSI</h1>

                                <h3 class="text-center">Линк</h3>

                                
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-text bi-send" id="basic-addon1">
                                            
                                        </span>

                                        <input name="keyword" type="text" class="form-control" id="keyword" placeholder="Link ..." aria-label="Search" value='`+url_check+`'>

                                        <button type="submit" class="form-control" style='background-color:#19B5FE'>Copy</button>
                                    </div>
                                
                            </div>

                        </div>
                    </div>`
                    add_link.innerHTML= text

                }else{
                    console.log('aa')
                }
                // WON'T REDIRECT
            });
            
        }else{
            console.log(data_empty,all_correct)
            if(!data_empty && !all_correct){
                Swal.fire({
                    icon: 'error',
                    title: 'Malumotlar to\'liq emas!!!',
                    text: 'Itimos ma\'lumotlarni to\'ldiring.',
                });
            }
        }

   
}
</script>

{%endblock%}