{% extends 'client/base.html'%}

{%load static%}

{%block content%}
         
<style>
    .sticky-top {
        position: sticky;
        top: 0;
        background-color: #f8f9fa; /* Adjust background color as needed */
        z-index: 2; /* Ensure header is above other content */
        }

    .sticky-col {
        position: sticky;
      
        background-color: #f8f9fa; /* Adjust background color as needed */
        z-index: 500; /* Ensure column is above non-sticky columns */
        }

    .table thead th {
        position: sticky;
        top: 0;
        background-color: #ffffff;
        z-index: 2; /* Ensure headers stay above sticky columns */
        }
    
    .sticky-th {
        position: sticky;
        top: 0;
        z-index: 600!important; /* Ensure th stay above sticky columns */
        background-color: #ffffff; /* Background color of sticky th */
        }

</style>
         
            <!-- <section class="topics-detail-section section-padding" id="topics-detail"> -->
                
                <div  class="table-responsive custom-max-height  " id="table-container" style="padding-top: 76px; ">
                        {% csrf_token %}
                        <table class="table table-sm" id="my-table">
                            <thead style="line-height: 1;">
                            <tr>
                                <th scope="col" class="sticky-th text-center" style="font-size: 12px;left:0;padding-right: 5px;">Действие</th>
                                <th scope="col"  class="sticky-th text-center" style="font-size: 12px; left:73.5px;" >Название системы</th>
                                <th scope="col"  class="sticky-th text-center" style="font-size: 12px;left: 183.2px;" >Артикул</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Длина (мм)</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Тип покрытия</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Сплав</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >тип закаленности</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Комбинация</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Бренд краски снаружи</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Код краски снаружи</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Бренд краски внутри</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Код краски внутри</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Код декор пленки снаружи</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Цвет декор пленки снаружи</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Код декор пленки внутри</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Цвет декор пленки внутри</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Цвет лам пленки снаружи</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Код лам пленки снаружи</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Цвет лам пленки внутри</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Код лам пленки внутри</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Код цвета анодировки снаружи</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Код цвета анодировки внутри</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Контактность анодировки</th>
                                <!-- <th scope="col" class="text-center" style="font-size: 12px;" >Тип анодировки</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Способ анодировки</th> -->
                                <th scope="col" class="text-center" style="font-size: 12px;" >Код наклейки</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Надпись наклейки</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >База профилей</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >GOODS_GROUP</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Tex_name</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Группа материалов</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Краткий текст товара</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >SAP Код вручную (вставляется вручную)</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Краткий текст товара (вставляется вручную)</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >KLAES ID</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >KLAES название</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Код Цвета</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Краткий код Klaes</th>
                                <th scope="col" class="text-center" style="font-size: 12px;" >Место для комментариев</th>
                            </tr>
                            </thead>
                           
                            <tbody id="table-artikul">
                            </tbody>
                           
                        </table>
                        
                </div>
                    <div class="row pb-1">
                        <div class="col-md-4">
                            <div class="d-flex justify-content-start p-2">
                                <input type="button" class="btn btn-warning mr-2 btn-sm" value="Добавить" onclick="add_column()" id="add_column_btn" >
                               
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="d-flex justify-content-start p-2">
                                <span class="m-1" style="font-weight: 700;">Тема:</span>
                                <input  type="text"  id="theme" class="form-control " style="border-color:red" onkeyup="show_zagruska_btn()" style="height: 30px;">
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="d-flex justify-content-end p-2">
                                <span  class="btn btn-primary" value="" id="zagruzka_file"  onclick="ready_all()">Загрузить</span>
                            </div>
                        </div>
                    </div>
               
            <!-- </section> -->

            <div  style="display: none;">
                <select class="form-select" style="color: black; width: 80px; display: none;height: 27px; font-size: 10px;" id ='nakleyka_list' onchange="">
                    <option value=""></option>
                    {% for nak in nakleyka_list %}
                    <option value="{{nak.name}}" data-nadpis="{{nak.nadpis}}">{{nak.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </main>

        <div class="modal fade bd-example-modal-lg" tabindex="-1" id="myModal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Информация</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close_modal()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Артикул</th>
                              <th scope="col">Краткий текст</th>
                              <!-- <th scope="col">Название</th> -->
                            </tr>
                          </thead>
                          <tbody id="modal_body">
                            
                          </tbody>
                        </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="close_modal()">Close</button>
                    <button type="button" class="btn btn-primary" id="save_btn" onclick="send_data()">Save changes</button>
                    <button class="btn btn-primary" type="button" disabled aria-hidden="true" style="display: none;" id="upload_btn">
                      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                      Loading...
                  </button>
                  </div>
                </div>
            </div>
          </div>
        
{%endblock%}



{%block java_script%}
<script src="{%     static 'chosen/docsupport/jquery-3.2.1.min.js'%}" type="text/javascript"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>

<link href="{% static 'select2/dist/css/select2.min.css'%}" rel="stylesheet" />
<script src="{% static 'select2/dist/js/select2.min.js'%}"></script>
<script>

    function updateMaxHeight() {
      var windowHeight = $(window).height();
      var navbarHeight = $('.navbar').outerHeight(); // Adjust if you have a fixed navbar

      // Calculate the dynamic max-height
      var dynamicMaxHeight = windowHeight - navbarHeight - 50; // Adjust as needed

      // Apply the dynamic max-height
      $('#dynamic-table').css('max-height', dynamicMaxHeight + 'px');
    }

    // Call the function on document ready and window resize
    $(window).on('load resize', function() {
      updateMaxHeight();
    });




    var brend_kaska ='{{brend_kaska|safe}}'

    function set_brend_kraska(element_list,selector,val_=''){
            
            var jsonData = JSON.parse(element_list)
            
            var select = $(selector);
            $.each(jsonData, function(index, item) {
                // console.log(item)
                var option = $('<option>', {
                    value: item['kraska'],
                    text: item['kraska'],
                    'data-brend': item['brend'] 
                });
                select.append(option);
            });
            
            $(selector).chosen({max_selected_options: 50,no_results_text: "Краска не найден"});
            $(selector).val(val_);
            $(selector).trigger('chosen:updated');
    }


    function show_zagruska_btn(){
        var zagruzka_file =$('#zagruzka_file')
        var theme =$('#theme')
        if(theme.val() !='' && theme.val() != undefined){
            theme.css('border-color','#dedad9')
        }else{
            theme.css('border-color','red')
        }
    }

    function getCSRFToken() {
        return $('input[name=csrfmiddlewaretoken]').val();
    }

    function ready_all(){
        var theme =$('#theme')
        if(theme.val() =='' || theme.val() == undefined){
            Swal.fire({
                    icon: 'error',
                    title: 'Iltimos zayavka mavzusini kiriting!!!',
                });
            return 
        }
        

        var all_correct = true;
        var data_empty = false
        if (Object.keys(data_base).length === 0) {
            data_empty = true
        }

        for (var key in data_base) {
            if (data_base.hasOwnProperty(key)) { 
                var value = data_base[key];
                if(!value.full){
                    all_correct=false
                }
            }
        }

        if (!data_empty && all_correct){

            var text_tr =''
            var i = 1
            for(key in data_base){
                text_tr += `
                    <tr>
                        <th scope="row">${i}</th>
                        <td>${data_base[key]['base_artikul']}</td>
                        <td>${data_base[key]['kratkiy_tekst']}</td>
                    </tr>
                `
                i +=1
                    
            }

            var modal_body = $('#modal_body')
            modal_body.children('tr').remove()
            modal_body.append(text_tr)

            $('#myModal').modal('show')




           
                
        }else{
            
            if(!data_empty && !all_correct){
                Swal.fire({
                    icon: 'error',
                    title: 'Malumotlar to\'liq emas!!!',
                    text: 'Itimos ma\'lumotlarni to\'ldiring.',
                });
            }
        }

   
}


function send_data(){

    var submit_btn = document.getElementById('save_btn')
    var upload_btn = document.getElementById('upload_btn')
    upload_btn.style.display ='block';
    submit_btn.style.display ='none';

    var json_data = JSON.stringify(data_base)
    var url = "order-save"
    var csrfToken = getCSRFToken();
    var theme =$('#theme').val()
    var postData = {
        'data': json_data,
        'order_type':'alu_imzo',
        'name':'ALUMINIY IMZO',
        'order_name':theme
    }
    $.ajax({
        type: 'POST',
        url: url,
        headers: { "X-CSRFToken": csrfToken },
        data: postData,
    }).done(function (res) {
        console.log(res)
        if (res.status ==201){
            Swal.fire('Qabul qilindi...', '', 'success')
            setTimeout(function() {
                var url = '{%url "client_order_list" %}';
                window.location.href = url;
            }, 750);
            close_modal()

        }else{
            Swal.fire('Something went wrong.', '', 'info')
            console.log('aa')
            close_modal()
        }
        // WON'T REDIRECT
    });

 
}


function close_modal(){
$('#myModal').modal('hide')
}


</script>

<script  type="text/javascript" src="{% static 'js/imzo.js'%}"></script>
{%endblock%}