{% extends 'client/base.html'%}
{%load static%}
{%block content%}

            <header class="site-header d-flex flex-column justify-content-center align-items-center">
                <div class="container">
                    <div class="row justify-content-center align-items-center">

                        <div class="col-lg-5 col-12 mb-5">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Homepage</a></li>

                                    <li class="breadcrumb-item active" aria-current="page">Web Design</li>
                                </ol>
                            </nav>

                            <h2 class="text-white">Introduction to <br> Web Design 101</h2>

                            <div class="d-flex align-items-center mt-5">
                                <a href="#topics-detail" class="btn custom-btn custom-border-btn smoothscroll me-4">Read More</a>

                                <a href="#top" class="custom-icon bi-bookmark smoothscroll"></a>
                            </div>
                        </div>

                        <div class="col-lg-5 col-12">
                            <div class="topics-detail-block bg-white shadow-lg">
                                <img src="{% static 'assets/images/topics/undraw_Remote_design_team_re_urdx.png'%}" class="topics-detail-block-image img-fluid">
                            </div>
                        </div>

                    </div>
                </div>
            </header>


            <section class="topics-detail-section section-padding" id="topics-detail">
                <form method="POST" id="basic_form" onsubmit="return validateForm()">
                    {%csrf_token%}
                <div class="" style="overflow: scroll;">
                        <table class="table table-sm" >
                            <thead>
                            <tr>
                                <th scope="col" style="font-size: 14px;">Действие</th>
                                <th scope="col" style="font-size: 14px;" >Название системы</th>
                                <th scope="col" style="font-size: 14px;" >Артикул</th>
                                <th scope="col" style="font-size: 14px;" >Длина (мм)</th>
                                <th scope="col" style="font-size: 14px;" >Тип покрытия</th>
                                <th scope="col" style="font-size: 14px;" >Сплав</th>
                                <th scope="col" style="font-size: 14px;" >тип закаленности</th>
                                <th scope="col" style="font-size: 14px;" >Комбинация</th>
                                <th scope="col" style="font-size: 14px;" >Бренд краски снаружи</th>
                                <th scope="col" style="font-size: 14px;" >Код краски снаружи</th>
                                <th scope="col" style="font-size: 14px;" >Бренд краски внутри</th>
                                <th scope="col" style="font-size: 14px;" >Код краски внутри</th>
                                <th scope="col" style="font-size: 14px;" >Код декор пленки снаружи</th>
                                <th scope="col" style="font-size: 14px;" >Цвет декор пленки снаружи</th>
                                <th scope="col" style="font-size: 14px;" >Код декор пленки внутри</th>
                                <th scope="col" style="font-size: 14px;" >Цвет декор пленки внутри</th>
                                <th scope="col" style="font-size: 14px;" >Цвет лам пленки снаружи</th>
                                <th scope="col" style="font-size: 14px;" >Код лам пленки снаружи</th>
                                <th scope="col" style="font-size: 14px;" >Цвет лам пленки внутри</th>
                                <th scope="col" style="font-size: 14px;" >Код лам пленки внутри</th>
                                <th scope="col" style="font-size: 14px;" >Код цвета анодировки снаружи</th>
                                <th scope="col" style="font-size: 14px;" >Код цвета анодировки внутри</th>
                                <th scope="col" style="font-size: 14px;" >Контактность анодировки</th>
                                <th scope="col" style="font-size: 14px;" >Тип анодировки</th>
                                <th scope="col" style="font-size: 14px;" >Способ анодировки</th>
                                <th scope="col" style="font-size: 14px;" >Код наклейки</th>
                                <th scope="col" style="font-size: 14px;" >Надпись наклейки</th>
                                <th scope="col" style="font-size: 14px;" >База профилей</th>
                                <th scope="col" style="font-size: 14px;" >GOODS_GROUP</th>
                                <th scope="col" style="font-size: 14px;" >Tex_name</th>
                                <th scope="col" style="font-size: 14px;" >Группа материалов</th>
                                <th scope="col" style="font-size: 14px;" >Краткий текст товара</th>
                                <th scope="col" style="font-size: 14px;" >SAP Код вручную (вставляется вручную)</th>
                                <th scope="col" style="font-size: 14px;" >Краткий текст товара (вставляется вручную)</th>
                                <th scope="col" style="font-size: 14px;" >KLAES ID</th>
                                <th scope="col" style="font-size: 14px;" >KLAES название</th>
                                <th scope="col" style="font-size: 14px;" >Код Цвета</th>
                                <th scope="col" style="font-size: 14px;" >Краткий код Klaes</th>
                                <th scope="col" style="font-size: 14px;" >Место для комментариев</th>
                            </tr>
                            </thead>
                            <tbody id="table-artikul">
                            
                            </tbody>
                        </table>
                        
                </div>
                <div class="container ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="d-flex justify-content-start p-2">
                                <input type="button" class="btn btn-warning " value="Добавить" onclick="add_column()" id="add_column_btn" ><span class="m-1" ></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="d-flex justify-content-center p-2">
                                <input type="button" class="btn btn-success " value="Готов" onclick="ready_all()" id="ready_btn"><span class="m-1" ></span>
                                <!-- <input type="button" class="btn btn-warning " value="Изменить" onclick="edit_all()" id="edit_btn" style="display: none;"><span class="m-1" ></span> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="d-flex justify-content-end p-2">
                                <input type="submit" class="btn btn-primary" value="Загрузить" style="display: none;" id="zagruzka_file">
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </section>


            <section class="section-padding section-bg">
                <div class="container">
                    <div class="row justify-content-center">

                        <div class="col-lg-5 col-12">
                            <img src="images/rear-view-young-college-student.jpg" class="newsletter-image img-fluid" alt="">
                        </div>

                        <div class="col-lg-5 col-12 subscribe-form-wrap d-flex justify-content-center align-items-center">
                            <form class="custom-form subscribe-form" action="#" method="post" role="form">
                                <h4 class="mb-4 pb-2">Get Newsletter</h4>

                                <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email Address" required="">

                                <div class="col-lg-12 col-12">
                                    <button type="submit" class="form-control">Subscribe</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </section>
        </main>
        
{%endblock%}



{%block java_script%}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script> 

<link href="{% static 'select2/dist/css/select2.min.css'%}" rel="stylesheet" />
<script src="{% static 'select2/dist/js/select2.min.js'%}"></script>
<script src="{% static 'js/imzo.js'%}"></script>

{%endblock%}