{% load static%}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
    <a class="sidebar-brand brand-logo" href="{%url 'home' %}"><img src="{% static 'assets/images/logo2.png' %}" alt="logo" /></a>
    <a class="sidebar-brand brand-logo-mini" href="{%url 'home' %}"><img src="{% static 'assets/images/logo-mini.svg' %}" alt="logo" /></a>
  </div>
  <ul class="nav">
    <li class="nav-item profile">
      <div class="profile-desc">
        <div class="profile-pic">
          <div class="count-indicator">
            <img class="img-xs rounded-circle " src="{{user_profile.profile_picture.url}}" alt="" >
            <span class="count bg-success"></span>
          </div>
          <div class="profile-name">
            <h5 class="mb-0 font-weight-normal">{{request.user.username}}</h5>
            <span>Gold Status</span>
          </div>
        </div>
        <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
          <a href="{% url 'myAccount' %}" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-settings text-primary"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-onepassword  text-info"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-calendar-today text-success"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
            </div>
          </a>
        </div>
      </div>
    </li>
    <li class="nav-item nav-category">
      <span class="nav-link">Navigation Menu</span>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="{%url 'home' %}">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    
    {% if user_role == 'user1' %}

    <li class="nav-item menu-items">
      <a class="nav-link" data-toggle="collapse" href="#zayavki" aria-expanded="false" aria-controls="zayavki">
        <span class="menu-icon">
          <i class="mdi mdi-equal-box"></i>
        </span>
        <span class="menu-title">Заявки</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="zayavki">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'order_list_for_moderator' %}" >New</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'order' %}" >Aluminiy</a></li>
          <!-- <li class="nav-item"> <a class="nav-link" href="{%url 'order_pvc'%}">Pvx</a></li>
          <li class="nav-item"> <a class="nav-link" href="{%url 'client_index'%}">Client</a></li> -->
        </ul>
      </div>
    </li>
    {%endif%}
    
    {% if user_role == 'moderator' %}

    <li class="nav-item menu-items">
      <a class="nav-link" data-toggle="collapse" href="#zayavki" aria-expanded="false" aria-controls="zayavki">
        <span class="menu-icon">
          <i class="mdi mdi-equal-box"></i>
        </span>
        <span class="menu-title">Заявки</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="zayavki">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'order_list_for_moderator' %}" >New</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'order' %}" >Aluminiy</a></li>
          <li class="nav-item"> <a class="nav-link" href="{%url 'order_pvc'%}">Pvx</a></li>
          <li class="nav-item"> <a class="nav-link" href="{%url 'client_index'%}">Client</a></li>
        </ul>
      </div>
    </li>
    {%endif%}

    {% if user_role == 'moderator'%}
    <li class="nav-item menu-items">
      <a class="nav-link" data-toggle="collapse" href="#del-othod" aria-expanded="false" aria-controls="del-othod">
        <span class="menu-icon">
          <i class="mdi mdi-laptop"></i>
        </span>
        <span class="menu-title">Форм.дел отход</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="del-othod">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'work_wast' %}" >Загрузка файла</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'show_list_history' %}">История файлов</a></li>
        </ul>
      </div>
    </li>
    {%endif%}
    
    {% if user_role == 'moderator'%}
    <li class="nav-item menu-items">
      <a class="nav-link" data-toggle="collapse" href="#ui-basics" aria-expanded="false" aria-controls="ui-basics">
        <span class="menu-icon">
          <i class="mdi mdi-biohazard"></i>
        </span>
        <span class="menu-title">Форм. сапкода</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basics">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'upload_product_org' %}">Заг. <span style="color:chocolate;font-weight: 500; padding: 5px;" class=""> обычный </span> файла</a></li>
          <li class="nav-item"> <a class="nav-link" href="{%url 'upload_product_termo_org' %}">Заг. <span style="color:chocolate;font-weight: 500; padding: 5px;" class="">термо</span> файла</a></li>
          <li class="nav-item"> <a class="nav-link" href="{%url 'upload_for_1301' %}">Заг. <span style="color:chocolate;font-weight: 500; padding: 5px;" class="">1301</span> файла</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'upload_char' %}"> Создать характер.</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'show_simple_sapcodes'%}">Созд. обычный сапкоды</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'show_list_termo'%}">Созд. термо сапкоды</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'upload_razlovka_simple' %}">Заг. <span style="color:chocolate;font-weight: 500; padding: 5px;" class=""> обыч разл </span> файла</a></li>
          <li class="nav-item"> <a class="nav-link" href="{%url 'upload_razlovka_termo' %}">Заг. <span style="color:chocolate;font-weight: 500; padding: 5px;" class="">термо разл</span> файла</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'show_razlovki'%}">Все обычный разловки</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'show_razlovki_termo'%}">Все термо разловки</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'upload_for_char'%}">Форм. Старый хар обыч</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'upload_for_char_termo'%}">Форм. Старый хар термо</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'aluminiy_files_org' %}">История обыч. файла</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'aluminiy_files_termo_org' %}">История термо файла</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'list_bazaprofiley' %}">Лист Базапрофилей</a></li>
        </ul>
      </div>
    </li>
    {%endif%}
    {% if user_role == 'moderator'%}
    <li class="nav-item menu-items">
      <a class="nav-link" data-toggle="collapse" href="#ui-basics-pvc" aria-expanded="false" aria-controls="ui-basics-pvc">
        <span class="menu-icon">
          <i class="mdi mdi-camera-timer"></i>
        </span>
        <span class="menu-title">Форм. PVC</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basics-pvc">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{%url 'upload_product_pvc_org'%}">Заг. <span style="color:chocolate;font-weight: 500; padding: 5px;" class=""> pvc</span> файла</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'upload_online_savdo_pvc' %}" >Созд. Мат (PVX)</a></li>
          <li class="nav-item"> <a class="nav-link" href="{%url 'upload_sozdaniye_pvc' %}">Созд. Цена (PVX)</a></li>
          <li class="nav-item"> <a class="nav-link" href="{%url 'upload_sozdaniye_sena_pvc' %}">Созд. Цена (SAP)</a></li>
          <li class="nav-item"> <a class="nav-link" href="{%url 'upload_sozdaniye_format_pvc' %}">Созд. Цена Форм(SAP)</a></li>
          <li class="nav-item"> <a class="nav-link" href="{%url 'upload_for_proverka_pvc' %}">Проверка</a></li>  
          <li class="nav-item"> <a class="nav-link" href="{%url 'show_sapcodes_pvc' %}">Сапкод лист</a></li>  
        </ul>
      </div>
    </li>
    {%endif%}
    {% if user_role == 'moderator'  or user_role == 'user1' or user_role == 'only_razlovka' or user_role == 'razlovka'%}
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic-norm" aria-expanded="false" aria-controls="ui-basic-norm">
          <span class="menu-icon">
            <i class="mdi mdi-bowling"></i>
          </span>
          <span class="menu-title">Форм. нормы</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic-norm">
          <ul class="nav flex-column sub-menu">
            {%if user_role == 'moderator' or user_role == 'user1' %}
            <li class="nav-item"> <a class="nav-link" href="{% url 'norma_file_upload_termo_org'%}">Загрузка <span style="color:chocolate;font-weight: 500; padding: 5px;" class="">термо</span> файла</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'norma_file_upload_org'%}">Загрузка <span style="color:chocolate;font-weight: 500; padding: 5px;" class="">обыч</span> файла</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'norma_file_list_termo_org'%}">История термо файлов</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'norma_file_list_org'%}">История обычный файлов</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'alu_simple_raz' %}">Заг. <span style="color:chocolate;font-weight: 500; padding: 5px;" class=""> обыч разл </span> файла</a></li>
            <li class="nav-item"> <a class="nav-link" href="{%url 'alu_termo_raz' %}">Заг. <span style="color:chocolate;font-weight: 500; padding: 5px;" class="">термо разл</span> файла</a></li>
            {%endif%}
            {%if user_role == 'razlovka' %}
            <li class="nav-item"> <a class="nav-link" href="{% url 'norma_file_upload_termo_org'%}">Загрузка <span style="color:chocolate;font-weight: 500; padding: 5px;" class="">термо</span> файла</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'norma_file_upload_org'%}">Загрузка <span style="color:chocolate;font-weight: 500; padding: 5px;" class="">обыч</span> файла</a></li>
            {%endif%}
            {%if user_role == 'only_razlovka'%}
            <li class="nav-item"> <a class="nav-link" href="{% url 'full_update_norm_benkam'%}"><span style="color:chocolate;font-weight: 500; padding: 5px;" class="">Норма</span>расход</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'full_update_termomost_benkam'%}"><span style="color:chocolate;font-weight: 500; padding: 5px;" class="">Норма</span>термомост</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'norma_file_upload_org_benkam'%}">Загрузка <span style="color:chocolate;font-weight: 500; padding: 5px;" class="">обыч</span> файла</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'norma_file_upload_termo_org_benkam'%}">Загрузка <span style="color:chocolate;font-weight: 500; padding: 5px;" class="">термо</span> файла</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'ximikat'%}">Химикаты покраска</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'anod_list'%}">Аноды</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'norma_file_upload_termo_org_benkam'%}?type=texcarta">Техкарта заг.</a></li>
            <li class="nav-item"> <a class="nav-link" href="{%url 'kraska_list'%}">Краска</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'sublimatsiya_list_benkam'%}">Сублимация</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'nakleyka_list_benkam' %}">Наклейка</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'upload_razlovka_simple' %}">Заг. <span style="color:chocolate;font-weight: 500; padding: 5px;" class=""> обыч разл </span> файла</a></li>
            <li class="nav-item"> <a class="nav-link" href="{%url 'upload_razlovka_termo' %}">Заг. <span style="color:chocolate;font-weight: 500; padding: 5px;" class="">термо разл</span> файла</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'show_razlovki'%}">Все обычный разловки</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'show_razlovki_termo'%}">Все термо разловки</a></li>
            <li class="nav-item"> <a class="nav-link" href="{%url 'delete_texcarta' %}">Удалить техкарты </a></li>
            <!-- <li class="nav-item"> <a class="nav-link" href="{%url 'norma_delete_all_benkam'%}"><span style="color: #ff0e0e;font-weight: 500; padding: 5px;" class="">Удалить База</span></a></li>
            <li class="nav-item"> <a class="nav-link" href="{%url 'termomost_delete_all_benkam'%}"><span style="color: #ff0e0e;font-weight: 500; padding: 5px;" class="">Удалить термомост</span></a></li> -->
            {%endif%}
            
          </ul>
        </div>
      </li>
    {%endif%}
    {% if user_role == 'moderator' or user_role == 'user1' %}
    <li class="nav-item menu-items">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic-tex" aria-expanded="false" aria-controls="ui-basic-tex">
        <span class="menu-icon">
          <i class="mdi mdi-contacts"></i>
        </span>
        <span class="menu-title">Форм. техкарты</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic-tex">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'texcart_file_upload'%}">Загрузка файла</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'texcart_files' %}">История файлов</a></li>
        </ul>
      </div>
    </li>
    {%endif%}
    {% if user_role == 'user_accessuar' %}
    <li class="nav-item menu-items">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic-tex" aria-expanded="false" aria-controls="ui-basic-tex">
        <span class="menu-icon">
          <i class="mdi mdi-contacts"></i>
        </span>
        <span class="menu-title">Форм. нормы</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic-tex">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'check_acs'%}">Проверка</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'show_sapcodes_acs'%}">Созданный сапкоды</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'create_new'%}">Создать новый сапкод</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'siryo_acs'%}">Сире</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'new_siryo_acs'%}">Создать сире</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'texcarta_acs'%}">Рабочий места для тех.</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'new_texcarta_acs'%}">Создать техкарта</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'get_accessuar_sapcode'%}">Норма</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'get_accessuar_sapcode_narx'%}">Цена</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'get_accessuar_sapcode_texcarta'%}">Техкарта</a></li>
          <!-- <li class="nav-item"> <a class="nav-link" href="{% url 'update_text_base'%}">Загрузка техтбаза</a></li> -->
          <li class="nav-item"> <a class="nav-link" href="{% url 'texcarta_delete'%}">Удалить техкарты</a></li>
        </ul>
      </div>
    </li>
    {%endif%}

    {% if user_role == 'moderator'%}
    <li class="nav-item menu-items">
      <a class="nav-link" data-toggle="collapse" href="#online_savdo" aria-expanded="false" aria-controls="online_savdo">
        <span class="menu-icon">
          <i class="mdi mdi-basket-fill"></i>
        </span>
        <span class="menu-title">Онлайн савдо</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="online_savdo">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'upload_online_savdo' %}" >Созд. Мат (Online)</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'upload_sozdaniye' %}">Созд. Цена (Online)</a></li>
          <li class="nav-item"> <a class="nav-link" href="{%url 'upload_sozdaniye_sena' %}">Созд. Цена (SAP)</a></li>
          <li class="nav-item"> <a class="nav-link" href="{%url 'upload_sozdaniye_format' %}">Созд. Цена Форм(SAP)</a></li>
          <li class="nav-item"> <a class="nav-link" href="{%url 'upload_for_proverka' %}">Проверка</a></li>
          <li class="nav-item"> <a class="nav-link" href="{%url 'upload_file_for_preparing' %}">MERGING</a></li>
        </ul>
      </div>
    </li>
    {%endif%}
    {% if user_role == 'moderator'%}
    <li class="nav-item menu-items">
      <a class="nav-link" data-toggle="collapse" href="#sena" aria-expanded="false" aria-controls="sena">
        <span class="menu-icon">
          <i class="mdi mdi-currency-usd"></i>
        </span>
        <span class="menu-title">Цена профилей</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="sena">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{%url 'show_profile'%}" >Все профилей</a></li>
          <li class="nav-item"> <a class="nav-link" href="{%url 'add_length_profile' %}">Добавить профилей</a></li>
          <li class="nav-item"> <a class="nav-link" href="{%url 'edit_currency' %}">Обмен валюты</a></li>
        </ul>
      </div>
    </li>
    {%endif%}

    {% if user_role == 'moderator' or user_role == 'user1'%}
    <li class="nav-item menu-items">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic-vi" aria-expanded="false" aria-controls="ui-basic-vi">
        <span class="menu-icon">
          <i class="mdi mdi-auto-fix"></i>
        </span>
        <span class="menu-title">Форм. ВИ</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic-vi">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'vi_file_upload_org' %}">Загрузка файла</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'vi_file_list' %}">История файлов</a></li>
        </ul>
      </div>
    </li>
    {%endif%}
    {% if user_role == 'moderator' or user_role == 'user1' %}
    <li class="nav-item menu-items">
      <a class="nav-link" data-toggle="collapse" href="#ui-norm" aria-expanded="false" aria-controls="ui-norm">
        <span class="menu-icon">
          <i class="mdi mdi-android"></i>
        </span>
        <span class="menu-title">База нормы</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-norm">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'show_norm_base' %}">Показать все нормы</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'show_sikl_base' %}">Показать все цикл дата</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'add_norm'%}">Добавить нормы</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'get_raube' %}">Найти Raube</a></li>
          <li class="nav-item"> <a class="nav-link" href="{%url 'full_update_norm' %}">Пол. обнов. базы</a></li>
          <li class="nav-item"> <a class="nav-link" href="{%url 'add_kraska' %}">Добавить краска</a></li>
          <li class="nav-item"> <a class="nav-link" href="{%url 'add_nakleyka' %}">Добавить наклейка</a></li>
          <li class="nav-item"> <a class="nav-link" href="{%url 'add_lamination' %}">Добавить ламинация</a></li>
          <li class="nav-item"> <a class="nav-link" href="{%url 'nakleyka_download' %}">Загрузка наклейка</a></li>
          <li class="nav-item"> <a class="nav-link" href="{%url 'lamination_download' %}">Загрузка ламинации</a></li>
          <li class="nav-item"> <a class="nav-link" href="{%url 'kraska_download' %}">Загрузка краски</a></li>
          <li class="nav-item"> <a class="nav-link text-danger"  onclick="confirm_delete()" style="cursor: pointer;">Пол.удалить. базы</a></li>
          
        </ul>
      </div>
    </li>
    {%endif%}
    {% if user_role == 'moderator' %}
    <li class="nav-item menu-items">
      <a class="nav-link" href="{% url 'create_txt_for_1101' %}">
        <span class="menu-icon">
          <i class="mdi mdi-file-document-box"></i>
        </span>
        <span class="menu-title">Создать Текст</span>
      </a>
    </li>
    {%endif%}
    {% if user_role == 'moderator' or user_role == 'user1' or user_role == 'only_razlovka' or user_role == 'razlovka' %}
    <li class="nav-item menu-items">
      <a class="nav-link" href="{% url 'file-upload-ozmka-org' %}">
        <span class="menu-icon">
          <i class="mdi mdi-file-find"></i>
        </span>
        <span class="menu-title">Найти разловки</span>
      </a>
    </li>
    {%endif%}
    {% if user_role == 'moderator'  %}
    <li class="nav-item menu-items">
      <a class="nav-link" href="{%url 'create_construction'%}">
        <span class="menu-icon">
          <i class="mdi mdi-bing"></i>
        </span>
        <span class="menu-title">Созд.констр для imzo</span>
        
      </a>
    </li>
    {%endif%}
    {% if user_role == 'moderator'  %}
    <li class="nav-item menu-items">
      <a class="nav-link" href="{% url 'get_sapcodes' %}">
        <span class="menu-icon">
          <i class="mdi mdi-arrow-expand-all"></i>
        </span>
        <span class="menu-title">Найти SAPCODE</span>
      </a>
    </li>
    {%endif%}
    {% if user_role == 'moderator'%}
    <li class="nav-item menu-items">
      <a class="nav-link" href="{% url 'find_characteristics_org' %}">
        <span class="menu-icon">
          <i class="mdi mdi-apps"></i>
        </span>
        <span class="menu-title">Найти характер</span>
      </a>
    </li>
    {%endif%}
    {% if user_role == 'moderator' or user_role == 'user1' or user_role == 'razlovka'%}
    <li class="nav-item menu-items">
      <a class="nav-link" href="{% url 'norma-delete-org' %}">
        <span class="menu-icon">
          <i class="mdi mdi-broom"></i>
        </span>
        <span class="menu-title">Удалить нормы</span>
      </a>
    </li>
    {%endif%}
    {% if user_role == 'moderator' or user_role == 'user1' or user_role == 'razlovka'%}
    <li class="nav-item menu-items">
      <a class="nav-link" href="{% url 'tex-delete-org' %}">
        <span class="menu-icon">
          <i class="mdi mdi-broom"></i>
        </span>
        <span class="menu-title">Удалить техкарты</span>
      </a>
    </li>
    {%endif%}
  </ul>
</nav>

<script>

function confirm_delete() {

Swal.fire({
  showDenyButton: true,
  text:'Norma hammasini rosdan o\'chirmoqchimisiz?',
  confirmButtonText: 'Ha',
  denyButtonText: `Yo'q`,
}).then((result) => {
  if (result.isConfirmed) {
   
    $.ajax({
                method: "POST",
                url: "{% url 'norma_delete_all' %}",
              }).done(function( msg ) {
                
                if (msg.msg ==true){
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: msg.text,
                        showConfirmButton: false,
                        timer: 1000
                      })
                  
                    }else{
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: msg.text
                          })

                    }
                });
  } else if (result.isDenied) {
    Swal.fire('!!!', 'Ok', 'info')
  }
})

}







</script>