<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Lets chat!</h1>

    <form action="" id="form" method="POST">
        {%csrf_token%}
        <input type="text" name="message">
    </form>
    <div id="messages"></div>

<script type="text/javascript">
let url =` ws://10.7.4.48:8000/ws/socket-server/`

const chatSocket = new WebSocket(url)

chatSocket.onmessage = function(e){
    let data = JSON.parse(e.data)

    console.log('Data',data.type)
    if(data.type === "chat"){
         let messages = document.getElementById('messages')
         var p = document.createElement('p')
         p.innerHTML =`${data.message}`
         messages.append(p)
         console.log(messages)
          
        
    }
}  

let form = document.getElementById('form')


form.addEventListener('submit',(e)=>{
    e.preventDefault()
    let message = e.target.message.value
    chatSocket.send(JSON.stringify({
        'message':message
    }))
    form.reset()
})
</script>
</body>
</html>