{% extends 'base.html'%}


{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> {{section}} </h3>
        <nav aria-label="breadcrumb">
        </nav>
      </div>
      <div class="row ">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Лист</h4>
              <div class="table-responsive">
                <form method="POST">
                    {%csrf_token%}
                <table class="table" style="color: aliceblue;">
                  <thead>
                    <tr >
                      <th  style="color: aliceblue;">
                        #
                      </th>
                      <th  style="color: aliceblue;"> Артикул </th>
                      <th  style="color: aliceblue;"> Название </th>
                      <th  style="color: aliceblue;"> Ед.изм </th>
                      <th  style="color: aliceblue;"> Код декор пленки</th>
                      <th  style="color: aliceblue;"> Ширина</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    <tr >
                      <td>
                        Пример:
                      </td>
                      <td>
                        <span class="pl-2">1000004309</span>
                      </td>
                      <td>
                        <span class="pl-2">ЛЕНТА С. G01 GOLD 100ММ</span>
                      </td>
                      <td>
                        <span class="pl-2">М2</span>
                      </td>
                      <td>
                        <span class="pl-2">G01</span>
                      </td>
                      <td>
                        <span class="pl-2">100</span>
                      </td>
                    </tr>
                    <tr >
                      <td>
                        1
                      </td>
                      <td>
                        <span class="pl-2">{{form.sap_code_s4q100}}</span>
                      </td>
                      <td>
                        <span class="pl-2">{{form.название}}</span>
                      </td>
                      <td>
                        <span class="pl-2">{{form.еи}}</span>
                      </td>
                      
                      <td>
                        <span class="pl-2">{{form.код_декор_пленки}}</span>
                      </td>
                      
                      <td>
                        <span class="pl-2">{{form.ширина_декор_пленки_мм}}</span>
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
                
                <div class="row p-2">
                    <div class="col-5"></div>
                    <div class="col-2">
                        <input type="submit" class=" btn btn-success" value="SAVE">
                    </div>
                    <div class="col-5"></div>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
   
  </div>



{% endblock %}