<!doctype html>
<html lang="en">
{%load static%}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Akfa Client Side</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="{% static 'assets/css/bootstrap.min.css'%}" rel="stylesheet">

        <link href="{% static 'assets/css/bootstrap-icons.css'%}" rel="stylesheet">

        <link href="{% static 'assets/css/templatemo-topic-listing.css'%}" rel="stylesheet">   
           
<!--

TemplateMo 590 topic listing

https://templatemo.com/tm-590-topic-listing

-->
<style>
    .anood .select2-container .select2-selection--single {
        font-size: 12px; /* Set your desired font size */
        border-color: #ff0000;
        
    }
    .input-group-lg>.form-select, .input-group-sm>.form-select{
        padding-right: 0.5rem!important;
    }
    
    
</style>
    </head>
    
    <body id="top">

        <main>
            {%include 'client/includes/navbar.html'%}
            
            
            {%block content%}
            {%endblock%}
            
            {%include 'client/includes/footer.html'%}
          

        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'assets/js/jquery.min.js'%}"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>
        <script src="{% static 'assets/js/jquery.sticky.js'%}"></script>
        <script src="{% static 'assets/js/click-scroll.js'%}"></script>
        <script src="{% static 'assets/js/custom.js'%}"></script>
        {%block java_script%}
        {%endblock%}
    </body>
</html>