
{%load static %}
<main>
    <!-- <div class="container"> -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{%url 'home' %}"><img style="width:100px;" src="{% static 'assets/images/logo2.png' %}" alt="logo" /></a>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="{%url 'client_index'%}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{%url 'client_order_list'%}">Orders</a>
                </li>
              </ul>
              {%if 'order-list' in request.path %}
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Поиск ..." name='search' aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
              </form>
              {%endif%}
              <div class="mr-5">

                  <div class="d-none d-lg-block mr-5">
                  <ul >
                      <li class="nav-item dropdown " style="list-style: none;">
                          <a href="#top" class="navbar-icon bi-person smoothscroll" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false"></a>
                          <div class="dropdown-menu  navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                              <h6 class="p-3 mb-0">Profile</h6>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item preview-item">
                                  <div class="preview-thumbnail">
                                  <div class="preview-icon bg-dark rounded-circle">
                                      <i class="mdi mdi-settings text-success"></i>
                                  </div>
                                  </div>
                                  <div class="preview-item-content">
                                  <p style="font-size: 12px;" class="preview-subject mb-1">Settings</p>
                                  </div>
                              </a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item preview-item" href="/accounts/logout/">
                                  <div class="preview-thumbnail">
                                  <div class="preview-icon bg-dark rounded-circle">
                                      <i class="mdi mdi-logout text-danger"></i>
                                  </div>
                                  </div>
                                  <div class="preview-item-content">
                                  <p  style="font-size: 12px;" class="preview-subject mb-1">Log out</p>
                                  </div>
                              </a>
                              
                          </div>
                      </li>
                  </ul>
  
                  
                  
                  </div>
              </div>
            </div>
          </nav>
    