<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
         
        </ul>
        <form class="form-inline  " >
          <div class="d-flex flex-row">
            <div class="p-2"><input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name='search'></div>
            <div class="p-2"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></div>
          </div>
          
          
        </form>
      </div>
    </nav>

    

    <!-- <a href="{% url 'excel' %}" class="btn btn-primary ">Convert to Sql</a>
    <a href="{% url 'excel' %}" class="btn btn-success ">Show All Datas</a> -->
  </div>
  <div class="container">
    <div class="table-responsive text-nowrap">
    <table  class="table table-striped" >
      <thead>
        <tr >
          <th   >#ID</th>
          <th >SAP код материала</th>
          <th >Краткий текст материала</th>
          <th >SAP код ДЕЛ.Отход</th>
          <th >Краткий текст ДЕЛ.Отход</th>
          <th >ID KLAES</th>
          <th >Ch Profile type</th>
          <th >KLS_WAST</th>
          <th >KLS_WAST_LENGTH</th>
          <th >CH_KLS_OPTOM</th>
          <th >KLS_ID</th>
          <th >KLS_INNER COLOR</th>
          <th >KLS COLOR</th>
          <th >Вес ГП</th>
          <th >Цена за шт</th>
          <th >Цена за метр</th>
          <th >Вес ДЕЛ.Отход</th>

        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td  style="font-size: 16px; font-weight:350" >{{ product.id }}</td>
          <td  style="font-size: 16px; font-weight:350" >{{product.sap_code_materials }}</td>
          <td  style="font-size: 16px; font-weight:350" >{{product.ktartkiy_tekst_materiala}}</td>
          <td  style="font-size: 16px; font-weight:350" >{{product.sap_kod_del_otxod}}</td>
          <td  style="font-size: 16px; font-weight:350" >{{product.kratkiy_tekst_del_otxod}}</td>
          <td  style="font-size: 16px; font-weight:350" >{{product.id_klaes}}</td>
          <td  style="font-size: 16px; font-weight:350" >{{product.ch_profile_type }}</td>
          <td  style="font-size: 16px; font-weight:350" >{{product.kls_wast }}</td>
          <td  style="font-size: 16px; font-weight:350" >{{product.kls_wast_lengtd}}</td>
          <td  style="font-size: 16px; font-weight:350" >{{product.ch_kls_optom}}</td>
          <td  style="font-size: 16px; font-weight:350" >{{product.kls_inner_id}}</td>
          <td  style="font-size: 16px; font-weight:350" >{{product.kls_inner_color}}</td>
          <td  style="font-size: 16px; font-weight:350" >{{product.kls_color}}</td>
          <td  style="font-size: 16px; font-weight:350" >{{product.ves_gp}}</td>
          <td  style="font-size: 16px; font-weight:350" >{{product.sena_za_shtuk}}</td>
          <td  style="font-size: 16px; font-weight:350" >{{product.sena_za_metr}}</td>
          <td  style="font-size: 16px; font-weight:350" >{{product.ves_del_odxod}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
<div class="container">
  <div class="d-flex justify-content-between">
    <div class="pagination p-2">
      <span class="step-links">
          {% if products.has_previous %}
              <a href="?page={{ products.previous_page_number }}">previous</a>
              {% if products.number > 3 %}
                <a href="?page=1">1</a>
                {% if products.number > 4 %}
                  <span>...</span>
                {% endif %}
              {% endif %}
          {% endif %}
  
          {% for num in products.paginator.page_range %}
            {% if products.number == num %}
              <a href="?page={{ num }}">{{ num }}</a>
            {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
              <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
          {% endfor %}
  
          {% if products.has_next %}
          {% if products.number < products.paginator.num_pages|add:'-3' %}
            <span>...</span>
            <a href="?page={{ products.paginator.num_pages }}">{{ products.paginator.num_pages }}</a>
          {% elif products.number < products.paginator.num_pages|add:'-2' %}
            <a href="?page={{ products.paginator.num_pages }}">{{ products.paginator.num_pages }}</a>
          {% endif %}
        
          <a href="?page={{ products.next_page_number }}">Next Page »</a>
        {% endif %}
      </span>
    </div>
  </div>
</div>
<div class="p-3"></div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</html>