{% extends 'base.html'%}


{% block content %}
<div class="content-wrapper">
  <div class="row ">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Артикул  Компонент</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                    <th>#</th>  
                    <th>Артикул</th>
                    <th>Компонент</th>
                    <th>Серия</th>
                    <th>Продукт описания ru</th>
                    <th>Проверка Артикул 2</th>
                    <th>Проверка компонент 2</th>
                    <th>Группа материалов</th>
                    <th>Группа материалов 2</th>
                    <th>Продукт описания Ru 2</th>
                    <th>Старый код Benkam</th>
                    <th>Старый код Jomiy</th>
                    <th>Действие</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td class ='new_char_five' ><input type='text'  id ='artikulfive{{forloop.counter}}' value='{{char}}' required></td>
                    <td ><input type='text'  id ='komponentfive{{forloop.counter}}' required></td>
                    <td ><input type='text'  id ='seriafive{{forloop.counter}}'  required></td>
                    <td ><input type='text'  id ='productdescru{{forloop.counter}}'  required></td>
                    <td ><input type='text'  id ='proverkaartikultwo{{forloop.counter}}'  required></td>
                    <td ><input type='text'  id ='proverkacomponenttwo{{forloop.counter}}'  required></td>
                    <td ><input type='text'  id ='groupmaterial{{forloop.counter}}'  required></td>
                    <td ><input type='text'  id ='groupmaterialtwo{{forloop.counter}}'  required></td>
                    <td ><input type='text'  id ='productdescrutwo{{forloop.counter}}'  required></td>
                    <td ><input type='text'  id ='stariykodbenkamtwo{{forloop.counter}}'  required></td>
                    <td ><input type='text'  id ='stariykodjomiytwo{{forloop.counter}}'  required></td>
                  <td>
                    <div class="badge badge-outline-success">Approved</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <span class="pl-2">Henry Klein</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> Dashboard </td>
                  <td> Credit card </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-success">Approved</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <span class="pl-2">Henry Klein</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> Dashboard </td>
                  <td> Credit card </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-success">Approved</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <span class="pl-2">Henry Klein</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> Dashboard </td>
                  <td> Credit card </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-success">Approved</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <span class="pl-2">Henry Klein</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> Dashboard </td>
                  <td> Credit card </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-success">Approved</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <span class="pl-2">Henry Klein</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> Dashboard </td>
                  <td> Credit card </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-success">Approved</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <span class="pl-2">Henry Klein</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> Dashboard </td>
                  <td> Credit card </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-success">Approved</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <span class="pl-2">Henry Klein</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> Dashboard </td>
                  <td> Credit card </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-success">Approved</div>
                  </td>
                </tr>
                
              </tbody>
            </table>
        </div>
        <button type="button" class="btn btn-danger btn-lg mt-3">btn-lg</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row ">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Order Status</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </th>
                  <th> Client Name </th>
                  <th> Order No </th>
                  <th> Product Cost </th>
                  <th> Project </th>
                  <th> Payment Mode </th>
                  <th> Start Date </th>
                  <th> Payment Status </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <img src="assets/images/faces/face1.jpg" alt="image" />
                    <span class="pl-2">Henry Klein</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> Dashboard </td>
                  <td> Credit card </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-success">Approved</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <img src="assets/images/faces/face2.jpg" alt="image" />
                    <span class="pl-2">Estella Bryan</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> Website </td>
                  <td> Cash on delivered </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-warning">Pending</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <img src="assets/images/faces/face5.jpg" alt="image" />
                    <span class="pl-2">Lucy Abbott</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> App design </td>
                  <td> Credit card </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-danger">Rejected</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <img src="assets/images/faces/face3.jpg" alt="image" />
                    <span class="pl-2">Peter Gill</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> Development </td>
                  <td> Online Payment </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-success">Approved</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <img src="assets/images/faces/face4.jpg" alt="image" />
                    <span class="pl-2">Sallie Reyes</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> Website </td>
                  <td> Credit card </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-success">Approved</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Order Status</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </th>
                  <th> Client Name </th>
                  <th> Order No </th>
                  <th> Product Cost </th>
                  <th> Project </th>
                  <th> Payment Mode </th>
                  <th> Start Date </th>
                  <th> Payment Status </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <img src="assets/images/faces/face1.jpg" alt="image" />
                    <span class="pl-2">Henry Klein</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> Dashboard </td>
                  <td> Credit card </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-success">Approved</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <img src="assets/images/faces/face2.jpg" alt="image" />
                    <span class="pl-2">Estella Bryan</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> Website </td>
                  <td> Cash on delivered </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-warning">Pending</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <img src="assets/images/faces/face5.jpg" alt="image" />
                    <span class="pl-2">Lucy Abbott</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> App design </td>
                  <td> Credit card </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-danger">Rejected</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <img src="assets/images/faces/face3.jpg" alt="image" />
                    <span class="pl-2">Peter Gill</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> Development </td>
                  <td> Online Payment </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-success">Approved</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <img src="assets/images/faces/face4.jpg" alt="image" />
                    <span class="pl-2">Sallie Reyes</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> Website </td>
                  <td> Credit card </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-success">Approved</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Order Status</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </th>
                  <th> Client Name </th>
                  <th> Order No </th>
                  <th> Product Cost </th>
                  <th> Project </th>
                  <th> Payment Mode </th>
                  <th> Start Date </th>
                  <th> Payment Status </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <img src="assets/images/faces/face1.jpg" alt="image" />
                    <span class="pl-2">Henry Klein</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> Dashboard </td>
                  <td> Credit card </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-success">Approved</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <img src="assets/images/faces/face2.jpg" alt="image" />
                    <span class="pl-2">Estella Bryan</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> Website </td>
                  <td> Cash on delivered </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-warning">Pending</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <img src="assets/images/faces/face5.jpg" alt="image" />
                    <span class="pl-2">Lucy Abbott</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> App design </td>
                  <td> Credit card </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-danger">Rejected</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <img src="assets/images/faces/face3.jpg" alt="image" />
                    <span class="pl-2">Peter Gill</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> Development </td>
                  <td> Online Payment </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-success">Approved</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <img src="assets/images/faces/face4.jpg" alt="image" />
                    <span class="pl-2">Sallie Reyes</span>
                  </td>
                  <td> 02312 </td>
                  <td> $14,500 </td>
                  <td> Website </td>
                  <td> Credit card </td>
                  <td> 04 Dec 2019 </td>
                  <td>
                    <div class="badge badge-outline-success">Approved</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}