{% extends 'base.html'%}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> Деловой отход файлы </h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
            <li class="breadcrumb-item active" aria-current="page">Buttons</li>
          </ol>
        </nav>
      </div>
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Загруженные файлы</h4>

            
          </div>
        </div>
      </div>
      
    </div>
   
  </div>
  <script>
    function myFunction(typ,file_id) {
      console.log('salom')
      
      console.log(typ)
      if(typ =='alu'){
        text ='Aluminiyni generatsiya qilyapsizmi? Ha bolsa tugmani bosing'
        loc = 'len-gen-org/'+file_id+'?type=alu'
    }else{
        loc = 'len-gen-org/'+file_id+'?type=pvc'
        text ='PVCni generatsiya qilyapsizmi? Ha bolsa tugmani bosing'
  
      }
      Swal.fire({
        showDenyButton: true,
        confirmButtonText: text,
        denyButtonText: `Yo'q`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          Swal.fire('Ishag tushdi...', '', 'success')
          window.location.href=loc
        } else if (result.isDenied) {
          Swal.fire('Chuchvara otmen!!!', '', 'info')
        }
      })
    }
  </script>
{% endblock %}