{% extends 'base.html'%}


{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> {{section}} </h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% if link %}<a type="button" href="{{link}}" class="btn btn-success btn-fw" >Скачать</a>{%else%}Buttons{% endif %}</li>
          </ol>
        </nav>
      </div>
      <div class="row">
        <form class="forms-sample" method="POST" enctype="multipart/form-data">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">File upload</h4>
              <p class="card-description"> Excel file yuklash uchun faqat. </p>
              <div class="row">
                <div class="col-md-6">
                <div class="form-group">
                  {% csrf_token%}
                    <label>File excel</label>
                    <!-- <input type="file" name="" class="file-upload-default"> -->
                    <div class="input-group">
                      <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Excel File">
                      <span class="input-group-append">
                        <input class="file-upload-browse btn btn-primary" type="file" name="file"></input>
                      </span>
                    </div>

                </div>
                  <!-- <h4 class="card-title">Исполнитель</h4> -->
                  <p class="card-description">  </p>
                  <!-- <form class="forms-sample" method="POST" enctype="multipart/form-data"> -->
                    <div class="row">
                      {%if workers %}
                      <div class="col-md-6"> 
                        <div class="form-group">
                          <label>Исполнитель</label>
                          <select class="form-select" aria-label="Default select example" name="worker">
                            <option selected value="{{request.user.id}}">{{request.user}}</option>
                            {%for worker in workers %}
                            <option value="{{worker.id}}">{{worker}}</option>
                            {% endfor %}
                          </select>                   
                        </div>
                        
                      </div>
                      <div class="col-md-6"> 
                      </div>
                      <div class="col-md-4 pt-2">
                        <div class="form-check form-check-flat form-check-primary">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="for1101" > For 1101 </label>
                        </div>
                      </div>
                      <div class="col-md-4 pt-2">
                        <div class="form-check form-check-flat form-check-primary">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="for1201" > For 1201 </label>
                        </div>
                      </div>
                      <div class="col-md-4 pt-2">
                        <div class="form-check form-check-flat form-check-primary">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="for1112" > Join </label>
                        </div>
                      </div>
                      {% endif %}
                      <div class="col-md-4">
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      </div>
                      <div class="col-md-4">
                        <button class="btn btn-dark">Cancel</button>
                      </div>
                    </div>

              <!-- </form> -->
            </div>
          </div>
        
          </div>
        </div>
        </form>
      
      </div>
      
    </div>
   
  </div>
{% endblock %}