{% extends 'base.html'%}


{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> {{section}} </h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% if link %}<a type="button" href="{{link}}" class="btn btn-success btn-fw" >Скачать</a>{%else%}Buttons{% endif %}</li>
          </ol>
        </nav>
      </div>
      <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">File upload</h4>
              <p class="card-description"> Excel file yuklash uchun faqat. </p>
              <form class="forms-sample" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  {% csrf_token%}
                    <label>File excel</label>
                    <!-- <input type="file" name="" class="file-upload-default"> -->
                    <div class="input-group">
                      <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Excel File">
                      <span class="input-group-append">
                        <input class="file-upload-browse btn btn-primary" type="file" name="file"></input>
                      </span>
                    </div>
                  </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-dark">Cancel</button>
              </form>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
   
  </div>
{% endblock %}