{% extends 'base.html'%}


{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> {{section}} </h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
            <li class="breadcrumb-item active" aria-current="page">Buttons</li>
          </ol>
        </nav>
      </div>
      <div class="row ">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Листь</h4>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>
                        #
                      </th>
                      <th> SAP код E </th>
                      <th> Экструзия холодная резка </th>
                      <th> SAP код Z </th>
                      <th> Печь старения </th>
                      <th> SAP код P </th>
                      <th>Покраска автомат </th>
                      <th> SAP код S </th>
                      <th> Сублимация </th>
                      <th>SAP код A </th>
                      <th> Анодировка </th>
                      <th> SAP код L </th>
                      <th> Ламинация </th>
                      <th> SAP код N </th>
                      <th> Наклейка </th>
                      <th> SAP код 7 </th>
                      <th> U-Упаковка + Готовая Продукция </th>
                      <th> Действие </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for profile in products %}
                    <tr>
                      <td>
                        <div class="form-check form-check-muted m-0">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                          </label>
                        </div>
                      </td>
                      <td>
                        <span class="pl-2">{{profile.}}</span>
                      </td>
                      <td> 02312 </td>
                      <td> $14,500 </td>
                      <td> Dashboard </td>
                      <td> Credit card </td>
                      <td> 04 Dec 2019 </td>
                      <td>
                        <div class="badge badge-outline-success">Approved</div>
                      </td>
                    </tr>
                    {%endfor%}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
   
  </div>
  <div class="container">
    <div class="d-flex justify-content-between">
        <div class="pagination p-2">
          <span class="step-links">
            <ul class="pagination">
                {% if products.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a></li>
                    {% if products.number > 3 %}
                        <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                        {% if products.number > 4 %}
                        <li class="page-item"> <span>...</span></li>
                        {% endif %}
                    {% endif %}
                {% endif %}

                {% for num in products.paginator.page_range %}
                    {% if products.number == num %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if products.has_next %}
                    {% if products.number < products.paginator.num_pages|add:'-3' %}
                    <li class="page-item"> <span>...</span></li>
                    <li class="page-item"><a class="page-link" href="?page={{ products.paginator.num_pages }}">{{ products.paginator.num_pages }}</a></li>
                    {% elif products.number < products.paginator.num_pages|add:'-2' %}
                    <li class="page-item"><a class="page-link" href="?page={{ products.paginator.num_pages }}">{{ products.paginator.num_pages }}</a></li>
                    {% endif %}
                    
                    <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next Page »</a></li>
                   
                {% endif %}
              </ul>
          </span>
        </div>
    </div>
  </div>
 
{% endblock %}