{% extends 'base.html'%}


{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> Деловой отход файлы </h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
            <li class="breadcrumb-item active" aria-current="page">Buttons</li>
          </ol>
        </nav>
      </div>
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Загруженные файлы</h4>

            
            <!-- <br>
            <a href="{{file.file.url}}" class="p-1">{{file.file}}</a>
            <a  class="btn btn-warning btn-sm mx-1 my-2" onclick="myFunction('Aluminiyni generatsiya qilyapsizmi?','alu','{{file.id}}')"  >Генерация алюминового файла</a>
            <a  class="btn btn-success btn-sm " onclick="myFunction('PVCni generatsiya qilyapsizmi?','pvc','{{file.id}}')" >Генерация PVC файла </a> -->
            

            <div class="table-responsive">
              <table class="table table-light">
                <thead>
                  <tr>
                    <th> # </th>
                    <th > Имя файла </th>
                    <th> Действие </th>
                  </tr>
                </thead>
                <tbody>
                    {%for file in files%}
                        <tr>
                            <td> {{ forloop.counter }} </td>
                            <td class="p-1"> {{file.file|cut:'uploads/delovoyotxod/downloads/'|truncatechars:15}} </td>
                            <td> </td>
                            <td> <button type="button" class="btn btn-outline-success btn-fw" onclick="myFunction('alu','{{file.id}}')">Ген. ALU. файла</button> </td>
                            <td> <button type="button" class="btn btn-outline-info btn-fw" onclick="myFunction('pvc','{{file.id}}')">Ген. PVC файла</button> </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
    </div>
   
  </div>
  <script>
    function myFunction(typ,file_id) {
      console.log('salom')
      
      console.log(typ)
      if(typ =='alu'){
        text ='Aluminiyni generatsiya qilyapsizmi? Ha bolsa tugmani bosing'
        loc = 'len-gen-org/'+file_id+'?type=alu'
    }else{
        loc = 'len-gen-org/'+file_id+'?type=pvc'
        text ='PVCni generatsiya qilyapsizmi? Ha bolsa tugmani bosing'
  
      }
      Swal.fire({
        showDenyButton: true,
        confirmButtonText: text,
        denyButtonText: `Yo'q`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          Swal.fire('Ishag tushdi...', '', 'success')
          window.location.href=loc
        } else if (result.isDenied) {
          Swal.fire('Chuchvara otmen!!!', '', 'info')
        }
      })
    }
  </script>
{% endblock %}